body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1123px;
    /*why such a width?*/
    margin: 0 auto;
    /*    flex-flow: row nowrap;*/
    justify-content: center;
    align-items: baseline;
}

.in_sldider {
    /* наложить фон
    background: url("img/macbook.jpg");
*/
    align-self: flex-end;
    border: 1px solid black;
    width: 300px;
}

.services {
    display: flex;
    flex: 1 1 200px;
    text-align: center;
    align-items: baseline;
    width: 180px;
    height: 222px;
}

section#hero {
    /*вот ту не понтно, почему картинка съехала? gjyznyj*/
    height: 40vw;
    /*relative to viewport width, took ratio from psd*/
    background-image: url('../img/macbook.jpg');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero h3 {
    font-family: 'Open Sans';
    color: #fff;
    font-weight: 800;
    font-size: 67px;
    margin: 0;
}

#hero h3 span {
    color: #f7600e;
}

.in_slider {
    display: inline-block;
    text-align: center;
}

#hero p {
    color: #fff;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 62px;
}

a.btn {
    display: inline-block;
    width: 220px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    line-height: 3.3;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}

a.btn:hover {
    background-color: #f7600e;
    border: 1px solid transparent;
}

section#services {
    padding: 96px 0;
    /*padding is used for vertical `centering` inside section instead of flex*/
    box-sizing: border-box;
}

.serviced {
    text-align: center;
    color: #3b434c;
    padding: 0 46px;
}

.serviced h3 {
    font-weight: 600;
    font-size: 15px;
    margin: 26px 0 22px;
}

.serviced p {
    font-size: 14px;
    line-height: 1.78;
    margin: 0;
}

.serviced .img-wrap {
    display: inline-block;
    height: 145px;
    width: 145px;
    border: 1px solid rgba(59, 67, 76, 0.30);
    border-radius: 50%;
    display: flex;
    /*sorry no prefixes; I'm lazy*/
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


/*-------------------------------*/

.newsletter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 250px;
    width: auto;
    background: url(../img/tablet-cofe.png) 100% 0% no-repeat;
    margin: 0px;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 80px;
}

.newsletter form {
    align-self: center;
}

.newsletter input {
    /*свойста формы email*/
    width: 562px;
    height: 50px;
    border-radius: 10px;
    background: #fff;
    font-size: 0.9em;
    border: 0px solid #FFF;
    color: #3b434c;
    /*свойста текста формы*/
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    text-align: left;
    padding-left: 24px;
    outline: none;
}

#submit {
    /*свойста кнопки*/
    width: 269px;
    height: 50px;
    background: #f7600e;
    border-radius: 10px;
    border: 0px solid #FFF;
    margin-left: 30px;
    padding-left: 0px;
    transition: all 0.3s;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: center;
    /*свойста текста кнопки*/
    color: white;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
}

#submit:hover {
    border: 1px solid rgba(34, 31, 29, 0.69);
    background: rgba(0, 0, 0, 0);
    color: #3b434c;
}


/*проба flexbox*/


/*upd. вроде получилось*/

.reviews {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    margin: 60px auto;
    /*отступ от картинки*/
    max-width: 1180px;
    /*число от балды*/
}


/*--------------ВОТ ТУТ находится виновник ненависти к оранжевому-----------------*/

.bl {
    flex-basis: 360px;
    height: 360px;
    margin: 15px;
    padding: 0px;
    border-radius: 10px;
    position: relative;
}

.orange {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    background: rgba(247, 96, 14, 0.9);
    opacity: 0;
    cursor: pointer;
}

.bl:hover .orange {
    opacity: 1;
}

.fl1 {
    width: 455px;
    flex-basis: 50%;
    align-self: center;
    height: 200px;
    margin: 0 120px 0 120px;
    /*       число не обоснованно, без него элемент не остается один в строке*/
}

.fl2 {
    background: url("../img/p1.png") no-repeat;
}

.fl3 {
    background: url("../img/p2.png") no-repeat;
}

.fl4 {
    background: url("../img/p3.png") no-repeat;
}

.fl5 {
    background: url("../img/p4.png") no-repeat;
}

.fl6 {
    background: url("../img/p5.png") no-repeat;
}

.fl7 {
    background: url("../img/p6.png") no-repeat;
}

.fl1 h4 {
    /*текст первого блока*/
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    color: #3b434c;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.fl1 p {
    color: #3b434c;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
}

.orange h5 {
    display: block;
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    /*line-height -man*/
    margin: 87px 0 0 0;
}

.orange p {
    display: block;
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 28px 55px;
}

.btn3 {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 3.3;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    width: 210px;
    height: 50px;
    margin-bottom: 87px;
}

a#button_3 {
    display: block;
    margin: 0 auto;
    color: #FFF;
    background-color: #f7600e;
    color: #fff;
    border: 1px solid #FFF;
}

a#button_3:hover {
    background-color: #FFF;
    color: #f7600e;
    border: 1px solid rgba(255, 255, 255, 0);
}


/*конец флекс-контейнера*/

a#button_2 {
    display: block;
    margin: 100px auto;
    color: #3b434c;
    Border-color: rgba(59, 67, 76, 0.2);
}

a#button_2:hover {
    background-color: #f7600e;
    color: #fff;
    border: 0px;
}

.btn2 {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 3.3;
    border: 1px solid rgba(59, 67, 76, 0.2);
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    width: 210px;
    height: 50px;
}

.what_clients_say {
    display: flex;
    flex-flow: column nowrap;
    height: 501px;
    width: auto;
    background: url("../img/pic_client_say.png") 100% 0% no-repeat;
    margin: 0;
}

.what_clients_say .client_1 {
    /*
    display: inline-block;
    text-align: center;
*/
    align-self: center;
    background: url("../img/client_1.png") no-repeat;
    width: 120px;
    height: 120px;
    margin-top: 100px;
}

.what_clients_say p {
    align-self: center;
    width: 797px;
    height: 65px;
    color: white;
    font-family: 'Open Sans';
    font-size: 25px;
    font-style: italic;
    line-height: 1.3;
    margin-top: 50px;
}

.what_clients_say .author {
    align-self: stretch;
    text-align: center;
    height: 18px;
    width: auto;
    color: white;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 17px;
}

.our_team {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100px;
    width: auto;
    margin-top: 85px;
}

.our_team .head {
    align-self: center;
    text-align: center;
    width: 470px;
    margin-top: 20px;
}

.head h4 {
    color: #3b434c;
    width: 179px;
    height: 26px;
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
    margin: auto;
    margin-bottom: 30px;
}

.people {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 115px;
    min-width: 235px;
    height: 420px;
}

.team {
    margin: 0 25px 30px 25px;
    border-radius: 10px;
}

.person-1,
.person-2,
.person-3,
.person-4 {
    transition: all 0.3s;
    opacity: 0.5;
}

.person-1 img,
.person-2 img,
.person-3 img,
.person-4 img {
    border-bottom-color: #F7600E;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    transition: all 0.5s;
}

.person-1:hover,
.person-2:hover,
.person-3:hover,
.person-4:hover {
    opacity: 1;
}

.team:hover img {
    transform: scale(1.11);
    transform-origin: 50% bottom 0;
    opacity: 1;
    /*Как отменить наследование значения opacity от предыдущего селектора?*/
}

.people_text h4 {
    width: 202px;
    height: 19px;
    color: #3b434c;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin: 23px auto;
    margin-bottom: 30px;
}

.people_text p {
    width: 242px;
    height: 37px;
    color: #3b434c;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-top: 0px;
}

.soc_btn a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.soc_btn {
    text-align: center;
    margin-bottom: 28px;
}

.btn_t {
    background: url("../img/twitter.png") no-repeat;
}

.btn_f {
    background: url("../img/facebook.png") no-repeat;
}

.btn_g {
    background: url("../img/gplus.png") no-repeat;
}

.contact_2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /*    max-width: 2000px;*/
    width: auto;
    height: 800px;
    margin-top: 212px;
    background: url("../img/contact.png") no-repeat 100% 0;
}

.contact_2 form {
    align-self: center;
}

.contact_2 input {
    /*свойства кнопок*/
    width: 554px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: 0px solid #FFF;
    margin: 20px 20px;
    text-align: center;
    /*свойства текста кнопки*/
    color: #3b434c;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
}


/*сделать соц.кнопки серыми до :hover*/


/*-при уменьшении ширины окна браузера  секия hero уезжает наверх
из-за 40vw

*/

'