@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro'), local('MyriadPro'), url('../fonts/myriadpro/MyriadPro-Regular.woff') format('woff'),  url('../fonts/myriadpro/MyriadPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro'), local('MyriadPro'), url('../fonts/myriadpro/MyriadPro-Bold.woff') format('woff'),  url('../fonts/myriadpro/MyriadPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: local('ProximaNova'), local('Proxima Nova'), url('../fonts/proximanova/ProximaNovaRegular.woff') format('woff'), url('../fonts/proximanova/ProximaNovaRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicBold';
    src: local('TradeGothicBoldCondensed20'), local('Trade Gothic Bold Condensed 20'), url('../fonts/tradegothic/TradeGothicLTStd-BdCn20.otf');
    font-weight: bold;
    font-style: normal;
}
