.logo-text_top {
    font-size: 7vw;
}

.top-title {
    top: 6em;
}
.nav-items {
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 20vh;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.nav {
    height: 2.8em;
}

.nav-button {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.nav-items-active {
    transform: scale(1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.85);
    transition: all 0.3s ease-in-out;
    z-index: 11;
}

.nav-items__nav-item {
    z-index: 12;
    margin: 4vw;
}

.scroll {
    padding: 1.2em 1.0em;
}

.scroll-mouse {
    width: 3px;
    padding: 6px 12px;
    height: 30px;
    border: 1px solid #bebebe;
    border-radius: 100px;
}

.scroll-mouse__scroller {
    width: 2px;
    height: 6px;
}

.portfolio-gallery {
    padding-bottom: 3em;
}

.contact-items {
    padding-top: 12vh;
    padding-bottom: 12vh;
}

.contact-items_mail {
    font-size: 2.4em;
}

.contact-items_phone {
    font-size: 2.2em;
}

.contact-items_contact-type {
    font-size: 2.1em;
    margin-top: 2em;
}

.contact-items__social {
    margin: 1.5em;
}
