nav .hamburger {
    display: none;
}
ul#nav_items.nav_items {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
