body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    min-height: 100%;
}
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
h1 {
    align-self: center;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 50px;
}
.red_btn {
    align-self: center;
    cursor: pointer;
    background: url("../img/glossy_red_button.svg") no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    outline: none;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.green_btns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    outline: none;
    padding-top: 80px;
    transform: scaleY(0.2);
}
.green_btns a {
    text-decoration: none;
    border-radius: 5px;
}
.icons {
    margin: 5px;
    width: 100px;
    height: 100px;
    outline: none;
}
.website_icon {
    background: url("../img/webicon.png")no-repeat;
    background-size: contain;
}
.ticket_icon {
    background: url("../img/purchaseicon.png")no-repeat;
    background-size: contain;
}
.phone_icon {
    background: url("../img/phoneicon.png")no-repeat;
    background-size: contain;
}
.red_btn:focus{
  transform: scale(2);
  transition-duration: 5s;
}
.red_btn:focus + .green_btns {
    opacity: 1;
    transform: translateY(60px) scaleY(1);
}
