body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    min-height: 100%;
    display: flex;
    justify-content: center;
}
main {
      display: -webkit-box;
      display: -ms-flexbox;
  display: flex;
      -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  width: 380px;
  margin: 0;
  padding: 0;
}
h1 {
      -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
  letter-spacing: 3px;
  cursor:default;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
  user-select: none;
  margin-bottom: 50px;
}
.red_btn {
    position: relative;
        -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    background: url("../img/glossy_red_button.svg") no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    outline: none;
    border-radius: 50%;
        -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}
.green_btns {
  position: absolute;
  top: 90px;
      display: -webkit-box;
      display: -ms-flexbox;
  display: flex;
      -ms-flex-flow: row wrap;
  flex-flow: row wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
    opacity: 0;
    outline: none;
    padding-top: 80px;
        -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
        -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    margin-left:25px;
}
.green_btns a {
    text-decoration: none;
    border-radius: 5px;
}
.icons {
    margin: 5px;
    width: 100px;
    height: 100px;
    outline: none;
}
.website_icon {
    background: url("../img/webicon.png")no-repeat;
    background-size: contain;
}
.ticket_icon {
    background: url("../img/purchaseicon.png")no-repeat;
    background-size: contain;
}
.phone_icon {
    background: url("../img/phoneicon.png")no-repeat;
    background-size: contain;
}
.red_btn:focus {
      -webkit-transform: scale(0.8);
  transform: scale(0.8);
     -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.red_btn:focus + .green_btns {
    opacity: 1;
        -webkit-transform: translateY(80px) scaleY(1);
    transform: translateY(60px) scaleY(1);
}
