body {
    font-family: 'Ubuntu', sans-serif;
    PTSansPro font-size: 16px;
    margin: 0;
    padding: 0;
    background: #FFF;
    min-height: 100%;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/*NAV*/

header {
    width: 100%;
    border: 1px solid #C8C8C8;
    border-bottom: none;
    box-sizing: border-box;
    background: #FFF;
    height: 45px;
}
nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0;
    padding-left: 90px;
}
nav ul::after {
    content: "";
    display: block;
    background: url('../img/lock_temp.png') no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 14px;
}
nav ul li {
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    border: 2px solid #fff;
    padding: 5px;
    margin: 8px;
    transition: all 0.3s ease 0s;
}
nav ul li:hover {
    background: #E9E9E9;
    border: 2px solid #D5D5D5;
    transition: all 0.3s ease 0s;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul a {
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    color: #58595b;
}
nav ul li:hover a {
    color: #057fb5;
}

/*END NAV*/


/*CONTACT*/

.contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: #F2F2F2;
    width: 100%;
    height: 80px;
    border: 1px solid #C8C8C8;
    box-sizing: border-box;
}
.contact .header_logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 33px;
    font-weight: 500;
    text-align: left;
    color: #231f20;
    padding: 10px 0 0 95px;
    margin: 0;
}
.contact .header_logo span {
    color: #ff8000;
    text-transform: uppercase;
}
.contact .header_logo p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #58595B;
    padding: 0;
    margin: 0;
}
.header_contacts {
    text-align: right;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 10px 65px 0 0;
}
.header_contacts a {
    text-decoration: none;
    overflow: hidden;
    color: #141213;
    text-align: right;
}
.header_contacts .tel {
    font-size: 24px;
    text-align: right;
}
.header_contacts .email {
    font-size: 24px;
}

/*END CONTACT*/


/*SLIDE BLOCK*/

.block_slide {
    background: url('../img/article1_1.jpg') 50% 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.block_slide .left {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 350px;
    margin: 80px 70px;
}
.left h1 {
    font-family: 'PTSansProBold', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: #FF8000;
    margin: 0;
    padding: 0 0 40px;
}
.left span {
    font-family: 'PTSansProBold', sans-serif;
    font-size: 47px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: #FFF;
    margin: 0;
    padding: 0 0 25px;
}
.left input {
    align-self: flex-end;
    width: 150px;
    height: 45px;
    background: #FF7900;
    outline: none;
    border: none;
    color: #FFF;
    font-family: 'PTSansProNarrowBold', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.left input:hover {
    color: #FF7900;
    background: #FFF;
    transition: all 0.3s ease 0s;
}
.block_slide .right {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding-top: 25px;
}
.right form {
    max-width: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.right .right_tel {
    max-width: 430px;
    width: 80%;
    height: 53px;
    border: 2px solid #FF7900;
    box-sizing: border-box;
    outline: none;
    padding-left: 24px;
    /*telephone number*/
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: #444F66;
    font-size: 24px;
    text-align: left;
    margin: 0 45px 20px;
}
.right .r_btn {
    width: 214px;
    height: 45px;
    background: #FF7900;
    outline: none;
    border: none;
    color: #FFF;
    font-family: 'PTSansProNarrowBold', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin: 0 0 40px 0;
    transition: all 0.3s ease 0s;
}
.right .r_btn:hover {
    color: #FF7900;
    background: #FFF;
    transition: all 0.3s ease 0s;
}

/*END SLIDE BLOCK*/


/*OFFER BLOCK*/

.block_offer {
    background: url('../img/article2.jpg') 50% 0 no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 557px;
    margin: 0;
}
.block_offer h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 49px;
    font-weight: 500;
    color: #231F20;
    text-transform: uppercase;
    margin: 0;
    padding: 45px 50px 50px 105px;
}
.block_offer ul {
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px;
    font-weight: 400;
    color: #000;
    padding: 0 15px 15px 105px;
    margin: 0;
}
.block_offer ul li {
    list-style-type: none;
    max-width: 480px;
    margin-bottom: 50px;
}
.block_offer ul li::before {
    content: url("../img/offer_check.png");
    display: inline-block;
}

/*END OFFER BLOCK*/


/*STEPS BLOCK*/

.block_steps {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    background: url('../img/steps_bg.jpg') no-repeat;
    background-size: cover;
    height: auto;
    padding: 85px 15px 60px;
}
.block_steps h5 {
    width: 100%;
    text-align: center;
    font-family: 'PTSansProBold', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #FFF;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 50px;
}
.block_steps .step {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: auto;
    margin: 0 30px 30px;
}
.block_steps img {
    margin-bottom: 20px;
}
.block_steps p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*END STEPS BLOCK*/


/*TESTIMONIALS BLOCK*/

.testimonials {
    background: #F2F2F2;
    color: #000;
    width: 100%;
    height: auto;
    padding: 70px 0 35px;
}
.testimonials h6 {
    font-family: 'PTSansProBold', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0 16px 32px;
    border-bottom: 1px solid #000;
}
.testimonials_items .t_item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 75px;
}
.t_item .t_item_logo {
    padding: 0;
    margin: 0 50px 0;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease 0s;
    outline: none;
}
.t_item .t_item_logo:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease 0s;
}
.t_item .review {
    padding: 15px;
    flex-basis: 50%;
}
.t_item .review span {
    color: #231F20;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 33px;
    text-transform: capitalize;
    text-align: left;
}
.t_item .review p {
    color: #000;
    max-width: 581px;
    height: auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 23px;
    text-align: justify;
    margin: 0;
    padding: 20px 0;
}
.testimonials form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.testimonials .t_btn {
    width: 218px;
    height: 46px;
    background: #FF7900;
    color: #FFF;
    font-family: 'PTSansProNarrowBold', sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #FF7900;
    margin: 20px 160px 20px 20px;
    transition: all 0.3s ease 0s;
}
.testimonials .t_btn:hover {
    color: #FF7900;
    background: #FFF;
    transition: all 0.3s ease 0s;
    border: 2px solid #444F66;
}

/*END TESTIMONIALS BLOCK*/


/*FEEDBACK BLOCK*/

.feedback {
    background: #444F66;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 62px 0 25px;
}
.feedback h6 {
    color: #FFF;
    font-family: 'PTSansProBold', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0;
    padding: 0 15px 32px;
}
.feedback p {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0 350px 0 18px;
    min-width: 130px;
}
.feedback form {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.feedback input {
    max-width: 515px;
    width: 90%;
}
.feedback .f_tel {
    height: 58px;
    background: #FFF;
    border: 0px solid #FFF;
    box-sizing: border-box;
    outline: none;
    padding-left: 24px;
    margin: 5px auto;
    /*telephone number*/
    color: #444F66;
    font-size: 32px;
    text-align: left;
}
.feedback .f_btn {
    max-width: 278px;
    width: 70%;
    height: 58px;
    background: #FF7900;
    color: #FFF;
    font-family: 'PTSansProNarrowBold', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 35px;
    transition: all 0.3s ease 0s;
}
.feedback .f_btn:hover {
    color: #FF7900;
    background: #FFF;
    transition: all 0.3s ease 0s;
}

/*END FEEDBACK BLOCK*/


/*OUR PARTNERS BLOCK*/

.our_partners {
    background: #F2F2F2;
    width: 100%;
    height: auto;
    padding: 82px 0 47px;
    margin: 0;
    padding: 85px 0 48px;
}
.our_partners h4 {
    color: #000;
    font-family: 'PTSansProBold', sans-serif;
    font-weight: bold;
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0 0 48px;
}
.our_partners .our_partners_items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.partner_item {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 17px 38px;
    transition: all 0.3s ease 0s;
}
.partner_item:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease 0s;
}

/*END OUR PARTNERS BLOCK*/


/*FOOTER*/

footer {
    background: #444F66;
    width: 100%;
    height: 100%;
    padding: 40px 60px;
box-sizing: border-box;
}
footer .footer_logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
footer .footer_contacts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


footer .f_left h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 47px;
    font-weight: 500;
    color: #FFF;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    padding: 0;
}
footer .f_left span {
    color: #FF7900;
}
footer .f_left p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 0;
}
footer .f_right p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 29px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    border-left: 3px solid #FF7900;
    margin: 0;
    padding: 0;
}
.footer_contacts a {
    text-decoration: none;
    outline: none;
}
.footer_contacts .tel {
    font-family: 'Ubuntu', sans-serif;
    font-size: 27px;
    font-weight: 500;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
.footer_contacts .tel span {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}
.footer_contacts .f_c_item_1::before {
    content: url("../img/footer/tel.png");
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}
.footer_contacts .f_c_item_2::before {
    content: url("../img/footer/telegram.png");
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}
.footer_contacts .f_c_item_3::before {
    content: url("../img/footer/whatsapp.png");
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}
.footer_contacts .f_c_item_4::before {
    content: url("../img/footer/viber.png");
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}

/*-----------------------------------*/

.f_left {
    flex: 2 1 300px;
}
.f_right {
    flex: 2 1 300px;
}
.footer_contacts .f_cont_left {
    flex: 2 1 400px;
    text-align: left;
    padding-top: 40px;
}
.footer_contacts .f_cont_right {
    flex: 2 1 400px;
    text-align: left;
    padding-top: 40px;
}
.f_cont_left .f_c_item_1 .tel{
  margin-bottom: 30px;
  padding-bottom: 30px;
}
/*-----------------------------------*/
/*END FOOTER*/
