        /*MEDIA QUERYS */

        @media all and (max-width: 1024px) {
            .block_slide .left {
                font-size: 40px;
            }
            .block_slide .left span {
                font-size: 38px;
            }
            .block_offer h2 {
                font-size: 40px;
                padding-left: 90px;
            }
            .block_offer ul {
                font-size: 36px;
                padding-left: 90px;
            }
            .block_offer ul li {
                max-width: 390px;
                margin-bottom: 38px;
            }
            .block_steps h5 {
                font-size: 38px;
            }
            .block_steps .step {
                width: 205px;
                margin: 0 20px 20px;
            }
            .block_steps p {
                font-size: 22px;
            }
            .testimonials {
                padding: 50px 0 25px;
            }
            .testimonials h6 {
                font-size: 30px;
            }
            .testimonials_items .t_item {
                padding: 25px 10px;
            }
            .footer_contacts .tel {
                font-size: 22px;
            }
            .f_c_item_4 span {
                margin-left: 52px;
            }
            /*О компании*/
            .container .block_steps_other .step {
                width: 190px;
            }
            .container .block_steps_other> .step_arrow {
                width: 87px;
            }
            .documents figure img {
                width: 250px;
            }
            /*О компании*/
        }
        @media all and (max-width: 918px) {
            nav ul {
                padding-left: 20px;
            }
            nav ul a {
                font-size: 14px;
            }
            .contact .header_logo {
                font-size: 28px;
                padding-left: 55px;
            }
            .contact .header_logo p {
                font-size: 18px;
            }
            .header_contacts {
                padding-top: 10px;
                padding-right: 35px;
            }
            .header_contacts .tel, .header_contacts .email {
                font-size: 18px;
            }
            .contact {
                height: 70px;
            }
            .block_slide .left {
                max-width: 220px;
                padding: 0;
                margin: 50px 50px;
            }
            .block_slide .left h1 {
                margin: 10px 0;
                font-size: 40px;
                font-weight: normal;
            }
            .block_slide .left span {
                font-size: 32px;
            }
            .left input {
                width: 120px;
                height: 38px;
                font-size: 20px;
            }
            .right form {
                max-width: 380px;
            }
            .block_slide .right {
                padding-top: 0px;
            }
            .right .right_tel {
                font-size: 20px;
                height: 42px;
            }
            .right .r_btn {
                font-size: 20px;
                width: 160px;
                height: 38px;
            }
            .block_offer {
                min-height: 0;
                background-position-x: 70%;
            }
            .block_offer h2 {
                padding-top: 25px;
                font-size: 32px;
                padding-left: 70px;
                padding-bottom: 30px;
            }
            .block_offer ul {
                font-size: 26px;
                padding-left: 70px;
            }
            .block_offer ul li {
                max-width: 340px;
                margin-bottom: 26px
            }
            .block_steps {
                padding: 45px 15px 30px;
            }
            .block_steps h5 {
                font-size: 30px;
                padding-bottom: 25px;
            }
            .block_steps .step {
                width: 160px;
            }
            .block_steps img {
                width: 60px;
            }
            .block_steps p {
                font-size: 18px;
            }
            .t_item .t_item_logo img {
                width: 230px;
            }
            .t_item .review span {
                font-size: 26px;
            }
            .t_item .review img {
                width: 20px;
            }
            .t_item .review p {
                font-size: 18px;
            }
            .testimonials_items .t_item {
                padding-bottom: 0;
            }
            .testimonials .t_btn {
                font-size: 20px;
                width: 160px;
                height: 36px;
                margin-bottom: 0;
            }
            .feedback {
                padding: 42px 0 10px;
            }
            .feedback h6 {
                font-size: 28px;
                padding-bottom: 20px;
            }
            .feedback .f_btn {
                font-size: 24px;
                margin: 25px;
                wmax-width: 208px;
                height: 48px;
            }
            .our_partners {
                padding: 35px 0;
            }
            footer .f_left h3 {
                font-size: 36px;
                padding: 0;
            }
            footer .f_left {
                font-size: 18px;
            }
            footer .f_right p {
                font-size: 20px;
                padding-left: 20px;
            }
            footer .footer_contacts {
                padding: 0;
            }
            .footer_contacts .f_cont_left, .footer_contacts .f_cont_right {
                padding-top: 10px;
                flex: 2 1 300px;
            }
            .footer_contacts .tel {
                font-size: 18px;
            }
            .f_c_item_4 span {
                margin-left: 42px;
            }
            /*О компании*/
            .container .block_steps_other h5 {
                font-size: 38px;
                font-weight: normal;
            }
            .container .block_steps_other .step {
                width: 140px;
            }
            .container .block_steps_other p {
                font-size: 20px;
            }
            .container .block_steps_other {
                padding: 45px 15px 30px;
            }
            /*О компании*/
        }
        @media all and (min-width: 769px) {
            nav .hamburger {
                display: none;
            }
            ul#nav_items.nav_items {
                display: -webkit-box !important;
                display: -webkit-flex !important;
                display: -ms-flexbox !important;
                display: flex !important;
            }
        }
        @media all and (max-width: 768px) {
            nav .hamburger {
                display: block;
            }
            nav ul {
                display: none;
                margin-top: -30px;
            }
            nav ul li {
                width: 80%;
                margin: 8px auto;
            }
            nav ul::after {
                display: none;
            }
            .right .right_tel {
                width: 70%;
            }
            .block_offer h2 {
                padding-left: 20px;
            }
            .block_offer ul {
                padding-left: 20px;
            }
            .t_item .t_item_logo img {
                width: 180px;
            }
            .t_item .review p {
                font-size: 16px;
                padding: 10px 0;
            }
            .our_partners h4 {
                padding-bottom: 28px;
            }
            .partner_item img {
                width: 280px;
                height: auto;
            }
            .footer_contacts .tel {
                font-size: 16px;
            }
            .footer_contacts .f_cont_left, .footer_contacts .f_cont_right {
                padding-top: 10px;
                flex: 2 1 200px;
            }
            footer .f_left, footer .f_right {
                flex: 2 1 200px;
                padding: 0 0 20px;
            }
            footer .f_left h3 {
                font-size: 30px;
            }
            footer .f_left p {
                font-size: 20px;
            }
            footer .f_c_item_4 span {
                margin-left: 38px;
            }
            /*О компании*/
            .container .block_steps_other h5 {
                font-size: 34px;
                font-weight: normal;
            }
            .container .block_steps_other .step {
                width: 100px;
            }
            .container .block_steps_other> .step_arrow img {
                width: 67px;
            }
            .container .block_steps_other p {
                font-size: 16px;
            }
            .container .block_steps_other {
                padding: 45px 15px 30px;
            }
            .container .influencer .infl_title h2 {
                font-size: 36px;
            }
            .container .influencer .infl_main h4 {
                font-size: 32px;
            }
            .container .influencer .infl_main p {
                font-size: 28px;
            }
            .container .influencer .infl_main img {
                width: 154px;
                margin: 0;
            }
            /*О компании*/
        }
        @media all and (max-width: 640px) {
            .contact .header_logo {
                font-size: 22px;
                padding-left: 15px;
            }
            .contact .header_logo p {
                font-size: 14px;
            }
            .contact .header_contacts {
                padding-right: 15px;
                padding-top: 15px;
                font-size: 16px;
            }
            .header_contacts .tel, .header_contacts .email {
                font-size: 16px;
            }
            .block_slide .left {
                margin: 40px 20px;
            }
            .right form {
                max-width: 250px;
            }
            .right form .right_tel {
                width: 90%;
            }
            .block_offer h2 {
                font-size: 24px;
            }
            .block_offer ul {
                font-size: 18px;
            }
            .block_offer ul li {
                max-width: 250px;
            }
            .t_item .t_item_logo img {
                width: 230px;
            }
            .t_item .review {
                flex-basis: 80%;
            }
            .feedback p {
                padding: 0 250px 0 18px;
                box-sizing: border-box;
            }
            .partner_item img {
                width: 315px;
            }
            footer {
                padding-left: 10px;
                padding-right: 10px;
            }
            .footer_contacts .tel {
                font-size: 16px;
            }
            footer .f_left, footer .f_right {
                flex: 2 1 auto;
                padding: 0 30px 16px;
            }
            footer .f_left h3 {
                font-size: 26px;
            }
            footer .f_left p {
                font-size: 18px;
            }
            footer .f_right p {
                border-left: none;
                padding-top: 10px;
                text-align: center;
                border-top: 3px solid #FF7900;
            }
            .footer_contacts .f_cont_left, .footer_contacts .f_cont_right {
                flex: 0 1 auto;
                padding: 0;
            }
            .f_c_item_4 span {
                margin-left: 36px;
            }
            footer .footer_contacts {
                flex-flow: column nowrap;
                align-items: flex-start;
                padding: 10px 10px 20px 70px;
            }
            /*О компании*/
            .container .block_steps_other h5 {
                padding-bottom: 20px;
            }
            .container .block_steps_other .step {
                width: 80px;
            }
            .container .block_steps_other img {
                width: 70px;
            }
            .container .block_steps_other> .step_arrow img {
                width: 57px;
            }
            .documents figure img {
                width: 318px;
            }
            /*О компании*/
        }
        @media all and (max-width: 480px) {
            .contact {
                height: 100%;
                padding-bottom: 10px;
            }
            .contact .header_logo {
                padding-left: 10px;
                font-size: 18px;
            }
            .contact .header_contacts {
                padding-right: 0;
                padding-top: 10px;
            }
            .header_contacts .tel, .header_contacts .email {
                font-size: 12px;
                padding-right: 5px;
            }
            .block_slide .left h1 {
                font-size: 36px;
                font-weight: normal;
            }
            .block_slide .left span {
                font-size: 28px;
            }
            .block_slide .left input {
                align-self: flex-start;
            }
            .right form .right_tel {
                width: 75%;
                margin-right: 0;
            }
            .right form .r_btn {
                width: 150px;
                margin-left: 45px;
            }
            .feedback p {
                padding-right: 150px;
            }
            footer .footer_contacts {
                padding-left: 0px;
            }
            /*О компании*/
            .container .about_name {
                padding: 35px 10px 10px;
            }
            .container .about_name h1 {
                font-size: 30px;
            }
            .container .about_name span {
                font-size: 20px;
            }
            .container .about_name p {
                font-size: 16px;
            }
            .container .block_steps_other h5 {
                font-size: 24px;
                font-weight: normal;
            }
        }
        .container .block_steps_other .step {
            width: 60px;
        }
        .container .block_steps_other img {
            width: 55px;
        }
        .container .block_steps_other> .step_arrow img {
            width: 47px;
        }
        .container .block_steps_other p {
            font-size: 14px;
            width: 170%;
        }
        .container .about_history h3 {
            font-size: 26px;
        }
        .container .about_history p {
            font-size: 18px;
        }
        .container .about_history ul {
            font-size: 18px;
            padding: 0;
        }
        .container .influencer .infl_title h2 {
            font-size: 0px;
        }
        .container .influencer .infl_title p {
            font-size: 24px;
        }
        .container .influencer .infl_main h4 {
            font-size: 28px;
        }
        .container .influencer .infl_main p {
            font-size: 24px;
        }
        .container .documents h3 {
          font-size: 32px;
        }
        /*О компании*/
    }
    @media all and (max-width: 375px) {
        .contact {
            flex-flow: column nowrap;
            align-items: center;
            padding: 0;
            height: 70px;
        }
        .contact .header_logo {
            font-size: 22px;
        }
        .contact .header_logo p {
            font-size: 14px;
        }
        .header_contacts .tel, .header_contacts .email {
            display: none;
        }
        .partner_item img {
            width: 290px;
        }
        .block_offer {
            background-position-x: 40%;
        }
        footer .f_right {
            padding: 0 0 20px;
        }
        footer .footer_contacts {
            padding-left: 10px;
        }
        /*О компании*/
        .container .block_steps_other {
          padding: 45px 5px 25px;

        }
        article .container .block_steps_other .step {
              width: 55px;
                    }
        .container .block_steps_other .step img {
            width: 40px;
        }
        .container .block_steps_other > .step_arrow img {
            width: 35px;
        }
        .container .block_steps_other p {
            font-size: 14px;
            width: 170%;
        }
        .container .about_history {
          padding: 65px 10px 25px;
        }
        /*О компании*/
}
/*END  MEDIA QUERYS*/
