@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/GothamMedium_gdi.eot');
	src: url('../fonts/gotham/GothamMedium_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/GothamMedium_gdi.woff') format('woff'), url('../fonts/gotham/GothamMedium_gdi.ttf') format('truetype'), url('../fonts/gotham/GothamMedium_gdi.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2248;
}

@font-face {
	font-family: 'Omnes';
	src: url('../fonts/omnes-light/Omnes-Light_gdi.eot');
	src: url('../fonts/omnes-light/Omnes-Light_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/omnes-light/Omnes-Light_gdi.woff') format('woff'), url('../fonts/omnes-light/Omnes-Light_gdi.ttf') format('truetype'), url(../fonts/omnes-light/'Omnes-Light_gdi.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2264;
}

@font-face {
	font-family: 'Omnes';
	src: url('../fonts/omnes-regular/Omnes-Regular_gdi.eot');
	src: url('../fonts/omnes-regular/Omnes-Regular_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/omnes-regular/Omnes-Regular_gdi.woff') format('woff'), url('../fonts/omnes-regular/Omnes-Regular_gdi.ttf') format('truetype'), url('../fonts/omnes-regular/Omnes-Regular_gdi.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family: 'Omnes';
	src: url('../fonts/omnes-medium/Omnes-Medium_gdi.eot');
	src: url('../fonts/omnes-medium/Omnes-Medium_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/omnes-medium/Omnes-Medium_gdi.woff') format('woff'), url('../fonts/omnes-medium/Omnes-Medium_gdi.ttf') format('truetype'), url('../fonts/omnes-medium/Omnes-Medium_gdi.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2264;
}

@font-face {
	font-family: 'Omnes';
	src: url('../fonts/omnes-semibold/Omnes-SemiBold_gdi.eot');
	src: url('../fonts/omnes-semibold/Omnes-SemiBold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/omnes-semibold/Omnes-SemiBold_gdi.woff') format('woff'), url('../fonts/omnes-semibold/Omnes-SemiBold_gdi.ttf') format('truetype'), url('../fonts/omnes-semibold/Omnes-SemiBold_gdi.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2264;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background: #f1f1f1;
	min-height: 100%;
}

header {
	margin: 36px auto;
	width: 80%;
	max-width: 1600px;
	background: #fff;
	padding-left: 25px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

nav {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	width: 100%;
	max-width: 1131px;
	margin: 0 auto;
}

nav .logo {
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	color: #011;
	font-family: 'Omnes', sans-serif;
	font-weight: 500;
	font-size: 21px;
	outline: none;
	cursor: pointer;
	margin: 0;
}

nav .hamburger {
	display: none;
	border: 0;
	outline: none;
	overflow: hidden;
}

nav button {
	outline: none;
}

nav ul {
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0;
	margin: 0;
}

nav ul li {
	list-style-type: none;
	padding: 52px 0px 51px;
	text-align: center;
	cursor: pointer;
	width: 92px;
}

nav ul li:hover a {
	color: #efc94c;
	padding-bottom: 14px;
	border-bottom-color: #011;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

nav ul a {
	color: #011;
	font-family: 'Gotham', sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-bottom: 2px solid transparent;
}

.nav_right {
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.nav_search {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	white-space: nowrap;
}

.nav_search .search {
	width: 149px;
	height: 49px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 20px 20px 14px 5px;
	margin: 0 0 0 26px;
	background: rgba(255, 255, 255, 0);
	border: none;
	border-bottom: 2px solid #eaeaea;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	box-sizing: border-box;
}

.nav_search .submit {
	position: relative;
	top: 7px;
	right: 23px;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	background: url("../img/search_icon-16.png") no-repeat;
	overflow: hidden;
	outline: none;
	border: 0;
	opacity: 0.6;
	box-shadow: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	vertical-align: -moz-calc(4px);
}

.nav_search:hover .submit {
	opacity: 1;
}

.nav_mail-bg {
	background: #efc94c;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	margin: 0 25px;
}

.nav_mail-bg .nav_contact-svg {
	width: 20px;
	height: 20px;
	padding: 16px;
	outline: none;
}


/*main*/

article {
	background: #fff;
	max-width: 1600px;
	height: auto;
	margin: 0 auto 82px;
	width: 80%;
}

.services {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	padding-bottom: 166px;
	max-width: 1131px;
	margin: 0 auto;
}

.services .services_item {
	-webkit-flex-basis: 33%;
	-ms-flex-preferred-size: 33%;
	flex-basis: 33%;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	padding: 61px 76px 0px;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.services_img-bg {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 182px;
	height: 182px;
	border-radius: 50%;
	background: #eaeaea;
	margin: auto;
	margin-bottom: 57px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.services .services_item:hover .services_img-bg {
	background-color: #efc94c;
}

.services .services_img-bg .svg {
	width: 32px;
	height: 32px;
}

.services_img-bg svg * {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.services .services_item:hover svg * {
	fill: #fff;
}

.services h2 {
	color: #111;
	font-family: 'Omnes', sans-serif;
	font-weight: 500;
	font-size: 21px;
	letter-spacing: 0.075em;
	margin: 0 0 56px 0;
	text-transform: uppercase;
}

.services p {
	font-family: 'Omnes', sans-serif;
	font-weight: 300;
	color: #888;
	font-size: 14px;
	line-height: 1.58;
	letter-spacing: 0.05em;
}

.contact {
	background: #fff;
	max-width: 535px;
	height: 1077px;
	margin: 0 auto 145px;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
}

.contact .title h1 {
	color: #444;
	font-family: 'Omnes', sans-serif;
	font-weight: 400;
	font-size: 42px;
	line-height: 1.72;
	letter-spacing: 0.075em;
	text-transform: capitalize;
	text-align: center;
	padding: 0;
	margin: 90px auto 27px;
}

.contact .title p {
	width: 278px;
	color: #888;
	font-family: 'Omnes', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.05em;
	line-height: 2.29;
	text-align: center;
	padding: 0;
	margin: 0 auto 100px;
}

.contact form {
	width: 75%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.contact form p {
	font-family: 'Omnes', sans-serif;
	color: #111;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin: 0 auto 31px;
	padding: 0;
}

.contact form .contact_name,
.contact form .cantact_email,
.contact form textarea {
	font-family: 'Open Sans';
	font-style: italic;
	width: 100%;
	max-width: 421px;
	height: 56px;
	background-color: #eaeaea;
	color: #888;
	border-radius: 1px;
	outline: none;
	border: none;
	box-shadow: none;
	padding-left: 15%;
	text-transform: uppercase;
	margin: 0 auto 46px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.contact form textarea {
	padding-top: 23px;
	padding-right: 23px;
	height: 212px;
	resize: none;
	overflow: auto;
}

.contact form .contact_submit {
	width: 52px;
	height: 52px;
	background-color: #2bacb5;
	border-radius: 50%;
	margin: 0 auto;
	cursor: pointer;
	outline: none;
}

.contact_submit .submit_btn {
	width: 20px;
	height: 20px;
	padding: 15px;
	outline: none;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}


/*   media queries   */

@media all and (min-width: 880px) and (max-width: 1040px) {
	nav ul li {
		width: 66px;
		padding: 32px 0px 31px;
	}
	.nav_search .search {
		margin: 0;
		width: 99px;
	}
}

@media all and (min-width: 768px) and (max-width: 880px) {
	nav ul li {
		width: 56px;
		padding: 32px 0px 31px;
	}
	nav ul li:nth-child(4) {
		padding-right: 4px;
		padding-left: 4px;
	}
	.nav_search .search {
		width: 89px;
	}
	.nav_mail-bg {
		margin: 15px;
	}
}

@media all and (max-width: 768px) {
	nav .hamburger {
		display: block;
		-webkit-align-self: flex-end;
		-ms-flex-item-align: end;
		align-self: flex-end;
		margin-top: -70px;
		margin-right: 15px
	}
	nav ul {
		display: none;
		padding-left: 0;
	}
	nav {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	nav .logo {
		font-size: 26px;
		padding: 46px 0 26px;
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
		margin-left: 20px;
	}
	nav ul {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		padding-right: 25px;
	}
	nav ul li {
		font-size: 16px;
		padding: 22px 0px 21px;
	}
	.nav_right form {
		display: none;
	}
	.nav_right .nav_mail-bg {
		margin: 25px 25px 25px 0;
	}
	.contact {
		margin: 0 auto;
	}
}

@media all and (min-width: 768px) {
	nav ul {
		display: -webkit-inline-flex;
		display: -moz-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		list-style-type: none;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex: 1;
		-moz-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding: 0;
		margin: 0;
	}
	.hanmurger {
		display: none;
	}
}