body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    min-height: 100%;
}
main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
h1 {
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    letter-spacing: 3px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 44px;
    margin-bottom: 54px;
}
.red_btn {
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
    width: 96px;
    height: 96px;
}
.red_btn .svg {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 5px solid #999;
    background: #999;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}
.red_btn .svg:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.red_btn:focus .svg {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.red_btn:active .svg {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.green_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    outline: none;
    margin-top: 144px;
    display: none;
}
.green_btns a {
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    outline: none;
    width: 100px;
    height: 100px;
    margin: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.icons {
    background: #0DCB9A;
    margin: 10px;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.green_btns .icons .svg {
    width: 54px;
    height: 54px;
    padding: 12px 12px 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.icons svg * {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    fill: #FFF;
    stroke: #fff;
}
.icons:hover svg * {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.icons:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #157E63;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.icons:active svg * {
    fill: #27a383;
    stroke: #27a383;
}
.green_btns a {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    padding: 0;
}

/*media queries for small display*/

@media all and (max-width: 340px) {
    .green_btns a {
        width: 82px;
        height: 82px;
        margin: 10px;
    }
    .green_btns .icons .svg {
        width: 38px;
        height: 38px;
    }
    .green_btns a {
        letter-spacing: normal;
    }
    .red_btn img {
        width: 78px;
        height: 78px;
        border-top-width: 3px;
    }
}
