body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background: #f7b44d;
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	width: 80%;
	max-width: 1900px;
	background: #FFF;
	border-radius: 5px;
	margin: 16px 0;
}

.container .top {
	justify-content: center;
	align-content: center;
	padding: 0 65px;
}

.top .top_title {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
}

.top_title .top_pic {
	align-self: center;
	margin: 32px 0;
}

.top_title h1 {
	align-self: center;
	color: black;
	font-family: 'Open Sans';
	font-size: 46px;
	font-weight: 400;
	line-height: 36px;
	margin: 0 0 51px;
}

.top .description {
	/*
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
*/
}

.description .ds_block-1 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding-bottom: 80px;
}

.ds_block-1 .descript_text-1 {
	order: 0;
	flex: 5 1 auto;
	align-self: center;
}

.ds_block-1 .descript_pic-1 {
	order: 1;
	flex: 4 1 auto;
	align-self: center;
}

.description .ds_block-2 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-bottom: 80px;
}

.ds_block-2 .descript_pic-2 {
	order: 2;
	flex: 4 1 auto;
	align-self: center;
}

.ds_block-2 .inner_block-2 {
	order: 3;
	flex: 5 1 auto;
	align-self: center;
}

.inner_block-2 .descript_pic-3 {
	padding-left: 25%;
	max-width: 483px;
}

.inner_block-2 .descript_text-2 {
	width: 90%;
	margin-left: auto;
}

.description .descript_text-3 {
	border: 10px solid #fee706;
	padding: 32px 24px;
	box-sizing: border-box;
	margin-bottom: 45px;
}

.description p {
	color: black;
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.description span {
	font-weight: 700;
}

.description .descript_text-3 span {
	color: #e1183f;
}


/*section warranty*/
.warranty{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.warranty h1 {
	color: black;
	font-family: 'Open Sans';
	font-size: 36px;
	font-weight: 400;
	line-height: 24px;
}

.warranty p {
	width: 666px;
	font-family: 'Open Sans';
	font-size: 26px;
	line-height: 30px;
	color: black;
	font-weight: 400;
	align-self: center;
	text-align: center;
}

.warranty span {
	color: #e1183f;
	font-weight: 700;
}