body {
    padding-bottom: 0;
}

nav {
    margin-left: -6px;
}

main {
    font-size: 14px;
}

main .main_container {
    height: 300px;
}

.paginator {
    display: none;
}

.paginator_btn {
    display: inline;
}

main button {
    display: none;
}

main .main_description ul {
    width: 95%;
}

main .main_container .btns img:focus {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

main .main_container:focus .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

main .main_container::-moz-focus-inner {
    border: 0;
}

.top button {
    display: none;
}

main .main_container>span {
    margin: 5px;
}


/* rating*/

.rating_mobile {
    display: block;
    position: absolute;
    top: 30px;
    right: 10px;
}

.rating_mobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #c056a0;
    width: 80px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rating_mobile ul:focus {
    background: #a7a5a6;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rating_mobile ul li {
    margin: 3px 0 3px 0;
}

.rating_mobile ul li ul {
    display: none;
    background: rgba(255, 255, 255, 0);
}

.rating_mobile ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.rating_mobile ul li a:hover {
    background: #c056a0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rating_mobile li:hover>ul {
    display: block;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rating_mobile li:hover li a:hover {
    background: #c056a0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rating_mobile li:hover a {
    background: #403c3b;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
