@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), url("../fonts/raleway/ralewayregular.woff2") format('woff2'), url("../fonts/raleway/ralewayregular.woff") format('woff'), url("../fonts/raleway/ralewayregular.ttf") format('ttf');
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.top {
	background: url("../img/top_bg.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	padding-top: 120px;
}

.top .row {
	color: #FFF;
	text-align: center;
	font-size: 27px;
	position: relative;
	margin: auto;
}

.top h3 {
	font-family: 'Open Sans';
	font-size: 38px;
	font-weight: 300;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
	margin: 0;
}

.top p {
	font-family: 'Open Sans';
	font-size: 27px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	padding-top: 65px;
}

.top img {
	position: relative;
	text-align: center;
	top: -122px;
}

.top .top_btn {
	position: relative;
	background: #00B4CC;
	color: white;
	font-family: 'Open Sans';
	font-size: 17px;
	font-weight: 700;
	line-height: 22px;
	border: 2px solid #00B4CC;
	transition: all 0.3s;
	outline: none;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1em 3.813em;
	top: -147px;
	box-sizing: border-box;
}

.top .top_btn:hover {
	border: 2px solid #FFF;
}

@media all and (max-width: 768px) {
	.top {
		padding-top: 65px;
	}
	.top h3 {
		font-size: 26px;
		padding-top: 0;
	}
	.top p {
		font-size: 16px;
		padding-top: 10px;
	}
	.top .top_btn {
		font-size: 12px;
		top: -20px;
	}
}


/*header*/

.navbar,
navbar-default {
	border-radius: 0;
	border: 0;
	background: #fff;
	margin: 0;
}

.navbar-header,
ul {
	min-height: 66px;
}

.navbar-brand {
	padding-top: 14px;
	padding-left: 90px;
	padding-right: 0;
}
.navbar-header a{
	outline: none;
}

.navbar-header button {
	margin-top: 16px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #00B4CC;
}
.nav li {
	color: #c4c4c4;
	font-family: 'Raleway';
	font-size: 15px;
	font-weight: 600;
	border-left: 1px solid #ddd;
	width: 110px;
	height: 66px;
	text-align: center;
	padding-top: 10px;
	transition: all 0.2s;
	cursor: pointer;
}

.nav li:hover {
	border-left-color: #019DB2;
	border-left-style: solid;
	border-left-width: 0.25em;
	color: #343838;
	box-shadow: inset 4px 1px 9px -1px rgba(0, 0, 0, 0.2);
}

.nav li:last-child:hover {
	border-left: 1px solid #ddd;
	box-shadow: none;
	cursor: auto;
}
.nav li a{
	outline: none;
}

@media all and (max-width: 1010px) {
	.navbar-brand {
		padding-left: 30px;
	}
	.nav li {
		width: 95px;
	}
	.nav li:last-child {
		width: 0px;
	}
}

@media all and (max-width: 768px) {
	.nav li {
		width: auto;
		border: 0;
	}
	.nav li:hover {
		border: 0;
		border-bottom-color: #019DB2;
		border-bottom-style: solid;
		border-bottom-width: 0.25em;
	}
}

.services {
	background: #00B4CC;
	width: 100%;
}

.services .container {
	display: block;
}

.services .intro::before {
	background: #60E2F3;
	content: "";
	display: block;
	height: 5.375em;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 0.25em;
}

.services .intro {
	display: inline-block;
	max-width: 40.438em;
	text-align: center;
}

.services .intro h4::before {
	content: url("../img/icon_gear.png");
	display: inline-block;
	padding-right: 0.625em;
	text-align: center;
	vertical-align: middle;
}

.services .intro h4 {
	border: 0.25em solid #60E2F3;
	color: white;
	font-family: 'Open Sans';
	font-size: 1.125em;
	font-weight: 700;
	height: 3.5em;
	line-height: 1.375em;
	margin: 0 auto;
	padding: 0.9em 0;
	text-align: center;
	text-transform: uppercase;
	width: 13.538em;
}

.services .intro p {
	color: white;
	font-family: 'Open Sans';
	font-size: 1em;
	font-weight: 400;
	line-height: 1.563em;
	padding-top: 1.563em;
	text-align: center;
	width: 100%;
}

.services_item {
	background: #FFFFFF;
	cursor: pointer;
	margin-top: 2.5em;
	padding: 4.063em 1.563em 1.563em;
	text-align: center;
}

.services_item img {
	height: 52px;
	transition: all 0.3s;
	width: 52px;
}

.services_item img svg path {
	/*починить*/
	fill: #FFF;
}

.services_item h4 {
	color: #343838;
	font-family: 'Open Sans';
	font-size: 1.125em;
	font-weight: 600;
	line-height: 1.563em;
	padding-bottom: 1.25em;
}

.services_item p {
	color: #AFAFAF;
	font-family: 'Open Sans';
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.375em;
	padding-bottom: 2.1em;
}

hr {
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	border-bottom-width: 0.063em;
}

.works {
	width: 100%;
	margin-top: 150px;
}

.works .container {
	display: block;
}

.works .row {
	width: 100%;
	margin-left: 0;
}
.works .intro::before {
	background: #DDDDDD;
	content: "";
	display: block;
	height: 5.375em;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 0.25em;
}

.works .intro {
	display: inline-block;
	max-width: 40.438em;
	text-align: center;
	margin-top: -20px;
}

.works .intro h4::before {
	content: url("../img/icon_cascade.png");
	display: inline-block;
	padding-right: 0.625em;
	text-align: center;
	vertical-align: middle;
}

.works .intro h4 {
	border: 0.25em solid #DDD;
	color: #00B4CC;
	font-family: 'Open Sans';
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.375em;
	margin: 0 auto;
	pzdding-bottom: 20px;
	padding: 0.9em 0;
	text-align: center;
	text-transform: uppercase;
	width: 13.538em;
}

.works .intro p {
	color: #AFAFAF;
	font-family: 'Open Sans';
	font-size: 1em;
	font-weight: 400;
	line-height: 1.563em;
	padding-bottom: 1.563em;
	padding-top: 1.563em;
	text-align: center;
	width: 100%;
}

.portfolio_item {
	background-size: cover;
	padding-bottom: 16.5%;
	position: relative;
}

@media all and (max-width: 768px) {
	.portfolio_item {
		padding-bottom: 40%;
		width: 50%;
	}
}

.portfolio_item h5 {
	border: 4px solid white;
	color: white;
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: 700;
	height: 156px;
	line-height: 25px;
	padding-top: 25%;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	height: 100%;
	margin: 0;
}

.portfolio_item .blue {
	background: rgba(0, 180, 204, 0.721569);
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	transition: all 0.5s;
	width: 100%;
	padding: 40px
}

.portfolio_item:hover .blue {
	opacity: 1;
}

.portfolio_item .blue .under_works {
	width: 100%;
	height: 55px;
	background: #343838;
	margin-top: 40px;
	margin-left: -40px;
	position: absolute;
	text-align: center;
	transition: all 0.3s ease 0s;
	transform: translateY(-100%);
}

.portfolio_item .under_works h6 {
	color: #FFF;
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
	margin: 5% 0;
}

.item1 {
	background-image: url("../img/works_1.jpg");
}

.item2 {
	background-image: url("../img/works_2.jpg");
}

.item3 {
	background-image: url("../img/works_3.jpg");
}

.item4 {
	background-image: url("../img/works_4.jpg");
}

.item5 {
	background-image: url("../img/works_5.jpg");
}
.item6 {
	background: #fff;
	color: #afafaf;
	cursor: pointer;
	transition: all 0.1s;
	text-align: center;
	position: relative;
	border:2px solid #fff;
	box-sizing: border-box;
	
}
.item6 .item_text{
	font-family: 'Open Sans';
	font-size:26px;
	
	text-decoration: none;
	text-transform: none;
	position: absolute;
    top: 50%;
	left:40%;
    transform: translateY(-50%);	
}
.item6:hover {
	color: #00b4cc;
}


@media all and (max-width: 468px) { .f_left .map_contacts
	.portfolio_item h5{
		font-size:10px;
		line-height: 1;
		border: 2px solid white;
	}
	.item6 .item_text{
		font-size: 18px;
		left:35%;
	}
	footer .f_right .social_block a { 	
		margin:0px;
		margin-top: 30px;
	}
}

.blog {
	margin: 5em 0;
	width: 100%;
}

.blog {
	margin: 5.000em 0;
	width: 100%;
}

.blog h2 {
	font-family: 'Open Sans';
	font-size: 1.563em;
	line-height: 1.375em;
	color: #afafaf;
	font-weight: 400;
	text-align: left;
	padding: 0;
	margin: 0;
}

.blog h2:after {
	content: "";
	display: block;
	width: 1.188em;
	height: 0.313em;
	background-color: #00B4CC;
	margin-top: 1.000em;
	mar text-align: center;
}

.blog span {
	color: #00b4cc;
	font-weight: 700;
	text-transform: uppercase;
}

.blog p {
	width: 80%;
	color: #838383;
	font-family: 'Open Sans';
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.438em;
	margin: 1.850em 0 2.40em 0;
}

.blog .blog_btn {
	display: block;
	color: #343838;
	width: 12.250em;
	font-family: 'Open Sans';
	font-size: 0.938em;
	font-weight: 700;
	line-height: 1.438em;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	border: 0.250em solid #343838;
	padding: 0.938em 1.175em;
	transition: all 0.3s;
	margin-bottom: 1em;
	text-align: center;
	outline: none;
}

.blog .blog_btn:hover {
	color: #00B4CC;
	border: 0.250em solid #00B4CC;
}

.blog_item {
	padding-bottom: 2.375em;
}

.blog_item .blog_date {
	float: left;
	width: 2.688em;
	height: 3.688em;
	color: #00b4cc;
	font-family: 'Open Sans';
	line-height: 2.313em;
	margin-right: 1.563em;
	transition: all 0.3s;
}

.blog_date .date_day {
	font-size: 1.875em;
	font-weight: 400;
	border-bottom: 0.063em solid #ddd;
	border-right: 0.063em solid #ddd;
}

.blog_date .date_month {
	font-size: 1.063em;
	font-weight: 700;
	text-transform: uppercase;
	border-right: 0.063em solid #ddd;
}

.blog .blog_quote {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 1.125em;
	line-height: 1.563em;
	padding-left: 1.563em;
	margin: 0;
}

.blog .blog_quote p {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #343838;
}

.blog .blog_comments {
	width: 20.250em;
	font-family: 'Open Sans';
	font-weight: 400;
	color: #838383;
	color: #afafaf;
	font-size: 1.0em;
	line-height: 1.875em;
	padding-left: 2.813em;
	margin: 0;
}

.blog_comments a {
	outline: none;
	text-decoration: none;
	transition: all 0.3s;
}

.blog_comments a:hover {
	color: #343838;
}

.blog_comments .comments_1,
.comments_2 {
	color: #afafaf;
	font-size: 16px;
	line-height: 30px;
	margin-right: 16px;
}

.blog_comments .comments_1:before {
	content: url("../img/comments.png");
	margin-right: 6px;
	vertical-align: sub;
}

.blog_comments .comments_2:before {
	content: url("../img/categorie.png");
	margin-right: 6px;
}

.blog .blog_date:hover {
	color: #343838;
	cursor: pointer;
}

.statistics {
	width: 100%;
	height: 100%;
	background: #00b4cc;
	margin-top: 5.000em;
	margin-bottom: 4.750em;
	padding-bottom: 2em;
}

.statistics .container {
	display: block;
	vertical-align: middle;
	padding-top: 4.750em;
}

.statistics .container .statistics_item {
	background: url("../img/statistics_border.png") 50% no-repeat;
	height: 11.250em;
	cursor: pointer;
	margin-bottom: 4em;
}

.statistics img {
	margin-top: -1em;
}

.statistics h1 {
	display: block;
	padding: 0.28em 0em;
	margin: 0;
	color: white;
	font-family: 'Open Sans';
	font-size: 4.063em;
	font-weight: 300;
	line-height: 1.563em;
}

.statistics p {
	display: block;
	color: white;
	font-family: 'Open Sans';
	font-size: 1.250em;
	font-weight: 300;
	line-height: 1.563em;
	padding: 1.0em;
}

.views {
	margin-bottom: 64px;
}

.views .media {
	width: 100%;
	margin-left: 15%;
	text-align: left;
}

.views container {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.views .media-object {
	margin-right: 34px;
	width: 140px !important;
	height: auto;
	backface-visibility: hidden;
}

.views h4 {
	color: #00b4cc;
	font-size: 20px;
	font-weight: 700;
}

.views span {
	color: #afafaf;
	font-size: 14px;
	font-weight: 600;
	font-style: italic;
	line-height: 20px;
}

.views p {
	width: 436px;
	height: 95px;
	font-family: 'Open Sans';
}

.vslider .views_btn {
	margin: 0;
	padding: 0;
}

.owl-carousel {
	position: relative;
}

.owl-dots {
	position: absolute;
	height: 100px;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.owl-dot {
	display: block;
	background-color: #eee;
	width: 10px;
	height: 10px;
	transition: background 0.5s;
	cursor: pointer;
	margin-bottom: 10px;
}

.owl-dot.active {
	color: inherit;
	text-decoration: none;
	background: #343838;
}


/*footer*/

footer .row {
	height: 480px;
}

.f_height {
	height: 100%;
}

.f_left #map {
	width: 100%;
	height: 410px;
	opacity: 0.8;
}

.nopadding {
	padding: 0;
}

.f_left .map_contacts {
	position: absolute;
	height: 125px;
	color: #343838;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 700;
	line-height: 55px;
	z-index: 10;
	left: 20%;
	top: 20%
}
@media all and (max-width: 568px) { 
	.f_left .map_contacts{
		left:10%;
		font-size: 16px;
	}
}
@media all and (max-width: 490px){
	.f_left .map_contacts{
		left:1%;
		font-size: 14px;
	}
}

.map_contacts a {
	color: #343838;
	text-decoration: none;
	transition: all 0.3s;
	outline: none;
}

.map_contacts a:hover {
	color: #00a1b7;
}

.map_contacts .map_bg::before {
	background: #FFF;
	float: left;
	width: 53px;
	margin-right: 10px;
}

.map_contacts .address::before {
	content: url("../img/map/icon_ancor.png");
	text-align: center;
}

.map_contacts .tel::before {
	content: url("../img/map/icon_tel.png");
	text-align: center;
}

.map_contacts .email::before {
	content: url("../img/map/icon_mail.png");
	text-align: center;
	vertical-align: middle;
}

.f_left .f_credits {
	background: #00a1b7;
	color: #bfe1e5;
	height: 70px;
	font-family: 'Raleway';
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-align: right;
	padding-top: 18px;
	padding-right: 51px;
	padding-left: 18px;
}

.f_left .f_credits span {
	color: #f8f9fb;
	font-weight: 700;
}

.f_right {
	background: #343838;
	height: 100%;
	padding: 73px 16px 18px 50px;
}

.f_right h4 {
	color: white;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	font-variant: small-caps;
	margin-top: 20px;
	margin-bottom: 10px;
}

.f_right p {
	color: #afafaf;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 28px;
}

.f_right .form-control {
	width: 60%;
	display: inline-block;
}

.f_right .form-inline {
	margin-bottom: 50px;
}

.f_right input {
	background: #2f3333;
	outline: none;
	border: none;
	height: 57px;
	box-sizing: border-box;
	color: white;
	margin-bottom: 0px;
	border-radius: 0;
	box-shadow: none !important;
	margin-right: -5px;
}

.f_right button {
	background: #252828;
	outline: none;
	border: none;
	height: 57px;
	width: 20%;
	transition: all 0.3s;
	margin-bottom: 0px;
	border-radius: 0;
}
.btn, .btn-default{
	outline: none;
}

.f_right .social_block {
	width: 100%;
	height: 70px;
	display: inline-block;
}

.f_right .social_block a {
	display: inline-block;
	margin: 3px;
	outline:none;
}

.social_block .btn_fb {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -10px 0px;
	display: block;
	width: 45px;
	height: 45px;
	transition: all 0.5s;
}

.social_block .btn_fb:hover {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -10px -74px;
}

.social_block .btn_ins {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -70px 0px;
	display: block;
	width: 45px;
	height: 45px;
	transition: all 0.5s;
}

.social_block .btn_ins:hover {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -70px -74px;
}

.social_block .btn_pin {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -126px 0px;
	display: block;
	width: 45px;
	height: 45px;
	transition: all 0.5s;
}

.social_block .btn_pin:hover {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -126px -74px;
}

.social_block .btn_gp {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -186px 0px;
	display: block;
	width: 45px;
	height: 45px;
	transition: all 0.5s;
}

.social_block .btn_gp:hover {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -186px -74px;
}

.social_block .btn_tw {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -243px 0px;
	display: block;
	width: 45px;
	height: 45px;
	transition: all 0.5s;
}

.social_block .btn_tw:hover {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -243px -74px;
}

.social_block .btn_rss {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -308px 0px;
	display: block;
	width: 45px;
	height: 45px;
	transition: all 0.5s;
}

.social_block .btn_rss:hover {
	background: url(../img/social/soc_btn_sprite.png) no-repeat -308px -74px;
}