.vslider {
    overflow-y: hidden;
    overflow-x: visible !important;
    position: relative;
}

.vslider-inner {
    transition: all 0.6s;
}

a.vslider-dot {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #eee;
    margin-bottom: 10px;
    transition: background 0.6s;
    cursor: pointer;
}

a.vslider-dot:last-of-type {
    margin: 0;
}

nav.vslider-dots {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
}

a.vslider-dot.active {
    background-color: #333;
}