.body {
    font-size: 10px;
    max-width: 1920px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.49);
}

html.fp-enabled, .fp-enabled body {
    margin: 0 auto!important;
}

.section {
    min-height: 100vh;
    width: 100%;
}


/*top begin*/

.top {
    background: url('../images/top_bg.jpg') 50% no-repeat;
    background-size: cover;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
}

.nav {
    width: 94%;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 2em;
}

.nav-items {
    list-style: none;
    padding: 0;
    margin: 4px;
}

.nav-items__nav-item+.nav-items__nav-item {
    margin-left: 4vw;
}

.nav-items__nav-item {
    display: inline;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    padding-bottom: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.nav-items__nav-item:after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.nav-items__nav-item:hover:after {
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

.nav-item__nav-item_white {
    color: #fff;
    background: rgba(255, 255, 255, 0);
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
    font-family: "Nexa";
    font-size: 2.4em;
    cursor: pointer;
    font-weight: 300;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-item__nav-item_white:hover {
    color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.top-title {
    margin: auto;
}

.logo-img_top {
    width: 22vw;
    max-width: 473px;
    padding: 0;
    margin: 2% 0 2%;
}

.logo-text_top {
    color: #f1f1f1;
    font-size: 5em;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Nexa";
    font-style: normal;
    margin: 30px;
}

.logo-text_top_bold {
    font-weight: 700;
}

.scroll {
    text-align: center;
    padding: 55px 20px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.scroll_btn-down {
    color: #f1f1f1;
    font-family: "Nexa";
    font-size: 1.6em;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    word-spacing: 4px;
    background: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.brown {
    color: #bebebe;
}

.scroll_btn-down_img_brown path {
    fill: #bebebe;
}

.scroll_btn-down_img, .scroll_btn-down_img_brown {
    position: absolute;
    margin-left: -21px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.scroll_btn-down:hover .scroll_btn-down_img, .scroll_btn-down:focus .scroll_btn-down_img, .scroll_btn-down:hover .scroll_btn-down_img_brown, .scroll_btn-down:focus .scroll_btn-down_img_brown {
    padding-top: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/*top end*/


/*about begin*/

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #fff;
    padding: 20px 16px 0;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.about-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1530px;
    margin: auto;
    box-sizing: border-box;
}

.about-block__photo {
    width: 40%;
    height: 40%;
    /*flex: 1;*/
}

.about-block__info {
    color: #202020;
    text-align: left;
    padding: 0 0 0 52px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.about-block__info_title {
    font-family: "Nexa";
    font-size: 6em;
    font-weight: 300;
    line-height: 120px;
    text-transform: uppercase;
    padding-bottom: 61px;
    margin: 0;
    box-sizing: border-box;
}

.about-block__info_text {
    width: 100%;
    max-width: 673px;
    font-family: "Open Sans";
    font-size: 2.4em;
    line-height: 1.5;
    font-weight: 300;
    padding: 0 0 75px;
    margin: 0;
}

.about-block__info_author {
    font-size: 2.8em;
    font-family: 'Open Sans';
    font-style: italic;
}


/*about end*/


/*portfolio begin*/

.portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url('../images/portfolio_bg.jpg')50% 50% no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.portfolio__title {
    color: #f1f1f1;
    font-family: "Nexa";
    font-size: 6em;
    font-weight: 300;
    line-height: 100px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    margin: auto;
}

.portfolio-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1700px;
    margin: auto;
}

.portfolio-gallery_photo {
    width: 27.9em;
    height: 25em;
    margin: 2% 1% 0%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.portfolio-gallery_photo:hover, .portfolio-gallery_photo:focus {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transform-origin: 50% center 50%;
            transform-origin: 50% center 50%;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}


/*portfolio end*/


/*contact begin*/

.contact {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.contact-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 150px auto 20px;
}

.contact-items_contact-type {
    color: #202020;
    font-family: "Nexa";
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin: 40px 0 0px;
}

.contact-items_mail {
    color: #202020;
    font-family: "Nexa";
    font-size: 6em;
    font-weight: 300;
    line-height: 120px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.contact-items_phone {
    color: #202020;
    font-family: "Nexa";
    font-size: 4.8em;
    font-weight: 300;
    line-height: 120px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.contact-items__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px;
}

.contact-items__social_btn {
    background: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    margin: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.contact-items__social_btn path {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.contact-items__social_btn:hover path, .contact-items__social_btn:focus path {
    fill: #202020;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/*contact end*/


/*footer begin*/

footer {
    width: 94%;
    border-top: 1px solid #bebebe;
    padding: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__name {
    color: #bebebe;
    font-family: "Nexa";
    font-size: 1.8em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 43px 40px 46px;
}


/*footer end*/


/*fix*/

:focus {
    outline: none!important;
}

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"]>input[type="button"]::-moz-focus-inner {
    border: none;
}
