@font-face {
    font-family: 'Linux Libertine Slanted';
    src: url('linlibslanted-600-normal.woff2') format('woff2'), url('linlibslanted-600-normal.woff') format('woff'), url('linlibslanted-600-normal.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}