@font-face {
    font-family: Helios Cond Light;
    src: local("Helios Cond Light"), local("HeliosCondLight"), url('../fonts/Helios-Cond-Light.ttf') format("truetype");
    font-weight:400;
    font-style: normal;
}

@font-face {
    font-family: House Casual;
    src: local("House Casual"), local("HouseCasual"), url('../fonts/House-Casual.otf') format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Uni Sans Heavy;
    src: local("Uni Sans Heavy"), local("UniSansHeavy"), local("Uni-Sans-Heavy"), url('../fonts/Uni-Sans-Heavy.ttf') format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Uni Sans Thin;
    src: local("Uni Sans Thin"), local("UniSansThin"), local("Uni-Sans-Thin"), url('../fonts/Uni-Sans-Thin.ttf') format("truetype");
    font-weight: 400;
    font-style: normal
}
