/*
font-family: 'Cuprum', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto Slab', serif;
*/

body {
    font-family: 'Helios Cond Light', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    /*font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    color: #455255;*/
}

.body-container {
    max-width: 1920px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 1.6rem 2.4rem 0.2rem rgba(0, 0, 0, .14), 0 0.6rem 3rem 0.5rem rgba(0, 0, 0, .12), 0 0.8rem 1rem -0.5rem rgba(0, 0, 0, .3);
}

.section-container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
}

.top-container {
    flex-direction: column;
    padding: 0 0 292px;
}


/*header begin*/

.top {
    background: url('../img/top-bg.jpg') 50% 80% no-repeat;
    background-size: cover;
}

.top-header {
    margin-bottom: 190px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-sizing: content-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    /*изменить*/
    margin-bottom: 20px;
}

.top__order {
    color: #fafafa;
    font-size: 15px;
    line-height: 1.6;
    /*cursor: pointer;*/
}

.order-status::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url('../img/icons/order-status_icon.svg')no-repeat;
    background-size: 8px 8px;
    width: 8px;
    height: 10px;
    margin-right: 8px;
}


/*.order-time {
    margin-left: 30px;
}

.order-time::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url('../img/icons/order-time_icon.svg')no-repeat;
    background-size: 10px 10px;
    width: 10px;
    height: 12px;
    margin-right: 8px;
}*/

.top__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__account-enter-btn {
    background: transparent;
    border: none;
    color: #fbfbfb;
    cursor: pointer;
    /*объединить свойство в один класс*/
    font-size: 14px;
    line-height: 1.7;
}

.top__account-enter-btn::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url('../img/icons/top__account-enter-btn_icon.svg')no-repeat;
    background-size: 12px 14px;
    width: 12px;
    height: 16px;
    margin-right: 10px;
}

.top__account-line {
    width: 1px;
    height: 20px;
    background: #6e6e6e;
    margin: 0 18px;
}

.top__account-cart-icon-btn {
    display: inline-block;
    vertical-align: middle;
    /*объединить свойство в один класс*/
    background: url('../img/icons/top__account-cart-icon-btn_icon.svg')no-repeat;
    background-size: 18px 15px;
    width: 18px;
    height: 15px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 6px;
}

.navbar-toggleable {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/*
.header-logo {
    width: 136px;
    height: 59px;
    color: #fff;
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    font-weight: bold;
    user-select: none;
    cursor: default;
    padding: 0;
}*/

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background: transparent;
    padding: 0;
}


/*.header__search-btn {
    width: auto;
    height: auto;
    border: none;
    fill: #f6f9fa;
    background: transparent;
    padding: 0;
}

.header__search-btn--svg {
    width: 17px;
    height: 17px;
    background: rgba(0, 0, 0, 0);
    vertical-align: middle;
    cursor: pointer;
    fill: #f6f9fa;
    transition: all .2s ease-in-out;
}

.header__search-btn--svg:hover {
    fill: #86bc42;
}*/

.header__menu-item {
    line-height: 1.5;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.nav-link {
    color: #f6f9fa;
    transition: all .1s ease-in-out;
}

.nav-link:last-child {
    padding-right: 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #93bc5f;
}


/*header end*/

.top-main-block {
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top-main-block__logo {
    margin: 0 auto 28px;
}

.top-main-block__logo-name {
    height: 36px;
    color: #fff;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    margin: 0 auto;
}

.top-main-block__title {
    align-self: center;
    color: #fff;
    /*font-size: 100px;*/
    font-size: 0;
    background: url('../img/top-main-block__title.png') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 380px;
    height: 135px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.top-main-block__title-caption {
    color: #fff;
    font-size: 19px;
    letter-spacing: 3px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.body-btn {
    border-radius: 20px;
    font-size: 15px;
    background-color: #86bc42;
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

.body-btn--shop-now {
    width: 180px;
    height: 40px;
}


/*top END*/


/*slider BEGIN*/

.slider-wrapper {
    background: url('../img/slider-bg.png') 50% no-repeat;
    background-size: cover;
    height: 501px;
    box-sizing: border-box;
    margin: 31px auto;
}

.slider-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.slider-text-block {
    width: 625px;
    max-width: 625px;
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    margin-right: 2%;
}

.slider-text-block__name {
    color: #86bc42;
    font-family: 'House Casual', fantasy;
    font-size: 60px;
    line-height: 1;
}


/*slider END*/


/*welcome BEGIN*/

.welcome {}

.welcome-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 100%;
    padding: 68px 0 48px 0;
    margin: 0 auto;
}

.welcome-title {
    color: #a8cf77;
    font-family: 'House Casual', fantasy;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    width: 100%;
    margin: 0 auto 40px;
}

.body-title {
    color: #26363a;
    font-size: 60px;
    text-align: center;
    margin: 0 auto 70px;
    width: 100%;
}

.welcome-plus,
.welcome-plus_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.welcome-plus {
    justify-content: space-between;
}

.welcome-plus_item {
    max-height: 350px;
    height: 100%;
    justify-content: flex-start;
    margin-bottom: 70px;
}

.welcome-plus_item+.welcome-plus_item {
    /*margin-top: 70px;*/
}

.welcome-img {
    background: url('../img/welcome-img_bg.jpg') 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.welcome-plus_item-icon {
    background: url('../img/welcome-plus_item-icon.png')no-repeat;
    width: 90px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.welcome-plus__name {
    color: #26363a;
    font-size: 22px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.welcome-plus__text {
    width: 100%;
    max-width: 300px;
    line-height: 1.6;
    text-align: center;
    color: #455255;
}


/*welcome end*/


/*banner-begin*/

.banner {
    background: url('../img/banner-bg.jpg') 50% no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 15px;
    min-height: 598px;
}

.banner-container {
    flex-direction: column;
    align-items: center;
    padding: 77px 0 83px;
}

.banner-title-top {
    color: #86bc42;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .1;
    padding-top: 25px;
}

.banner-title {
    color: #fff;
    font-family: 'House Casual', fantasy;
    font-size: 135px;
    font-weight: 400;
    letter-spacing: 6px;
    margin-bottom: 0;
}

.banner-text {
    color: #d4dfd1;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 25px;
}


/*banner END*/


/*beneficial-features BEGIN*/

.beneficial-features {
    background: url('../img/beneficial-features-bg.jpg') 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.beneficial-features-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 120px 0;
}

.beneficial-features__title {
    text-align: center;
    color: #86bc42;
    font-family: 'Uni Sans Heavy', sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 70px;
}

.beneficial-features__items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
}

.beneficial-features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beneficial-features__item:first-child {
    position: relative;
    top: 172px;
}

.beneficial-features__item:last-child {
    position: relative;
    top: 232px;
}

.beneficial-features__item-circle {
    background-image: url('../img/welcome-plus_item-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.beneficial-features__item-circle::before {
    content: '';
    opacity: 0;
    position: absolute;
    width: 86%;
    height: 86%;
    background-color: #85b35b;
    border-radius: 50%;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .2s ease-in-out;
}

.beneficial-features__item-circle-icon {
    position: relative;
    z-index: 99;
    transition: all .4s ease-in-out;
}

.beneficial-features__item:hover .beneficial-features__item-circle::before,
.beneficial-features__item:focus .beneficial-features__item-circle::before {
    opacity: 1;
    box-shadow: 0 7px 29px rgba(133, 179, 91, 0.6);
}

.beneficial-features__item:hover .beneficial-features__item-circle-icon,
.beneficial-features__item:focus .beneficial-features__item-circle-icon {
    fill: #fff;
}

.beneficial-features__text {
    max-width: 200px;
    color: #25312a;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 5px;
}

.beneficial-features__text--xs {
    /*line-height: 1;*/
    max-width: 200px;
    color: #25312a;
    font-size: 10px;
    text-align: center;
}

.beneficial-features__center-block {
    background: url('../img/beneficial-features__center-block.jpg') 50% no-repeat;
    background-size: contain;
    max-width: 618px;
    width: 100%;
    height: 556px;
}


/*beneficial-features END*/


/*using BEGIN*/

.using-container {
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    max-width: 1140px;
    margin: 0 auto;
}

.using__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 360px;
    box-sizing: border-box;
    text-align: center;
    color: #242d29;
    margin: 15px;
}

.using__item-img {
    margin-bottom: 33px;
}

.using__item-title {
    font-family: 'Uni Sans Heavy', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
}

.using__item-text {
    width: 314px;
    font-size: 18px;
    line-height: 1.33;
}


/*using END*/


/*portion BEGIN*/

.portion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1545px;
    width: 100%;
    margin-left: 0;
}

.portion-content {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}

.portion-content__img {
    background: url('../img/portion-content_img.png') 50% no-repeat;
    background-size: contain;
    width: 60vw;
    height: 100%;
    /*temp*/
    max-width: 1005px;
    height: 595px;
}

.portion-title {
    opacity: 0.99;
    color: #26363a;
    font-family: ' Uni Sans Thin', sans-serif;
    font-size: 43px;
    font-weight: 400;
    align-self: flex-end;
    position: relative;
}

.portion-content__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.portion-content__item {
    width: 350px;
    color: #242d29;
    font-size: 17px;
    line-height: 1.35;
    margin-bottom: 15px;
}


/*portion END*/


/*testimonials BEGIN*/

.testimonials {
    background: url('../img/testimonials-bg.jpg') 50% no-repeat;
    background-size: cover;
    text-align: center;
}

.testimonials-container {
    flex-wrap: wrap;
    padding: 70px 15px 100px;
}

.testimonials-wrapper {}

.h2-title {
    font-family: 'House Casual', fantasy;
    font-size: 100px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    width: 100%;
}

.testimonials__title {
    color: #fff;
}

.testimonials__slide-item {
    background: url('../img/testimonials__slide-item--bg.png')50% no-repeat;
    background-size: contain;
    text-align: center;
    width: 300px;
    height: 300px;
    text-align: center;
}

.testimonials__slide-author {
    color: #fff;
    font-family: 'Helios Cond Light', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44;
    text-transform: uppercase;
}

.testimonials__slide-author::before {
    content: '';
    background: url('../img/testimonials__slide-quotes.png')50% no-repeat;
    display: block;
    width: 35px;
    height: 35px;
    margin: 15px auto 20px;
}

.testimonials__slide-text {
    width: 219px;
    color: #fff;
    font-family: 'Helios Cond Light', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    margin: 10px auto 0;
}


/*testimonials BEGIN*/


/*packaging BEGIN*/

.packaging-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.packaging__title {
    color: #76bd3f;
    margin-bottom: 50px;
}

.packaging__products {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.packaging__products-item {
    height: 495px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #474744;
    font-family: 'Helios Cond Light', sans-serif;
    font-weight: 400;
    line-height: 1.33;
    padding: 30px 0;
    margin: 0 15px 0;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 3px 27px rgba(0, 0, 0, 0.22);
}

.packaging__products-item:hover,
.packaging__products-item:focus {
    box-shadow: 0 4px 77px rgba(134, 188, 66, 0.52);
}

.packaging__products-name {
    font-size: 18px;
    margin-bottom: 12px;
}

.packaging__products-text {
    font-size: 16px;
    width: 80%;
}

.packaging__btn--buy {
    width: 180px;
    height: 40px;
    font-family: 'Uni Sans Heavy', sans-serif;
    font-size: 20px;
}


/*packaging END*/


/*contacts BEGIN*/

.contacts-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 15px;
}

.contacts__item {
    width: 370px;
    height: 300px;
    box-shadow: 0 3px 27px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contacts__icon {
    height: 40px;
    margin-bottom: 45px;
}

.contacts__title {
    color: #25363a;
    font-family: 'Uni Sans Heavy', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.contacts__info {
    color: #455255;
    line-height: 1.6;
}


/*contacts END*/


/*form BEGIN*/

.form-section {
    /*test*/
    /*background: darkcyan;*/
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.form-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 -15px;
}

.form-block__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 15px 30px 15px;
    ;
}

.form__label {
    font-family: 'Uni Sans Heavy', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: 0;
    width: 100%;
    margin: 20px 0 8px;
}

.form__label--green {
    color: #86bc42;
}

.form__input {
    max-width: 570px;
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    border: none;
    box-shadow: none;
    text-align: left;
    color: #455255;
    line-height: 1.5;
    padding: 10px 20px;
}

.form__textarea {
    height: 190px;
    background-color: #fafafa;
    resize: none;
    max-width: 98%;
    margin-bottom: 40px;
}

.form-btn {
    margin-bottom: 100px;
}


/*form END*/


/*footer BEGIN*/

.footer-bg {
    background: url('../img/footer-bg.png') 50% 100% no-repeat;
    background-size: cover;
}

.footer {
    background: #0f191b;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 225px;
}

.footer-container {
    background: #76bd3f;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 159px;
    box-shadow: 0 7px 29px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 135px;
    padding: 30px 45px;
    margin: auto;
}

.footer__address {
    color: #ffffff;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
}

.footer__social-bnts {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 30px;
}

.footer__social-btns-item+.footer__social-btns-item {
    padding-left: 6px;
}

.footer__social-btns-item--icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.footer__name {
    font-family: 'House Casual', fantasy;
    color: #fff;
    font-size: 36px;
    align-self: flex-end;
    background: #0f191b;
    padding: 3px 29px;
    position: relative;
    z-index: 3;
    bottom: -10px;
    margin: 0 auto 40px;
}

.footer__line {
    border: 0;
    z-index: 2;
    bottom: 40px;
    width: 100%;
    position: absolute;
    border-top: 1px solid #fff;
}


/*footer END*/