body {
    background: #424242;
    max-width: 1600px;
    padding: 0 30px;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
}

nav .hamburger {
    display: none;
    border: 0;
    outline: none;
    overflow: hidden;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

nav button {
    outline: none;
}

header {
    box-sizing: border-box;
    margin: 0 auto;
    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

header a {
    text-decoration: none;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo a {
    align-self: center;
    padding-top: 10px;
}

header .logo span {
    font-family: 'Linux Libertine Slanted';
    font-size: 11px;
    word-spacing: -0.5px;
    letter-spacing: -0.5px;
    white-space: nowrap;
    text-align: center;
    align-self: center;
    color: #EBEBEB;
    padding: 10px;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 55%;
    max-width: 500px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 40px 5px;
    transition: all 0.5s ease-in-out;
    border-bottom: 3px rgba(255, 255, 255, 0) solid;
}

nav ul li:hover {
    border-bottom: 3px #FFF solid;
    transition: all 0.5s ease-in-out;
}

nav ul a {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.nav_search {
    position: relative;
    width: 220px;
}

.nav_search input {
    border: none;
}

.nav_search .search {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    background: #E8E8E8;
    color: #3a4d60;
    outline: none;
    transition: all 0.5s ease-in-out;
    padding: 8px 37px 9px 15px;
}

.nav_search .search:focus {
    background: #FFF;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
}

.nav_search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    color: black;
    background: url('../img/icons/search_3.png') 50% no-repeat;
    outline: none;
    opacity: 0.5;
}

.nav_search .submit:hover {
    opacity: 0.8;
}


/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */

input[type="search"] {
    -webkit-appearance: none;
}

.top {
    background: url('../img/top_bg.jpg') 60% no-repeat;
    background-size: cover;
    min-height: 800px;
}

.top .title {
    padding-top: 170px;
}

.top .title h1 {
    max-width: 550px;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 50px;
    font-weight: 400;
    text-align: right;
    font-style: normal;
    padding: 0 10px;
    margin-bottom: 25px;
}

.top .title p {
    width: 100%;
    max-width: 500px;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 50px;
    font-weight: 400;
    text-align: right;
    font-style: normal;
    margin-bottom: 25px;
    padding: 0 0 0 140px;
}

.btn_purple {
    width: 280px;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    background: #8824cd;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    padding: 20px 10px;
    margin: 25px 10px 18px;
}

.btn_purple:active {
    outline: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.9), 0 1px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.btn_purple:focus {
    outline: none;
}

.btn_purple::-moz-focus-inner {
    border: 0;
}

.top .title span {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    word-wrap: normal;
    margin: 0 30px;
}


/*-end-TOP section*/


/*MASTHEAD section*/

.masthead {
    background: #2e3b4e;
    margin: 0;
    padding: 55px 0 90px;
}

.masthead h4 {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    margin: 20px 10px;
}

.masthead p {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    padding: 0;
    margin: 14px 0 48px;
}


/*-end-MASTHEAD section*/


/*PINK section*/

.pink {
    background: url('../img/pink_bg.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0 0 180px;
}

.pink img {
    display: block;
    position: relative;
    top: -2px;
    margin: 0 auto;
}

.pink h2 {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: 300;
    padding: 0;
    margin: 86px 0 0;
}

.pink p {
    max-width: 447px;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    padding: 10px 0 30px;
}

.pink button {
    width: 344px;
    background: #FFF;
    border-radius: 50px;
    color: #d54c63;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    padding: 17px 20px 19px;
    margin: 0 0 14px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.pink button:active {
    background: #d54c63;
    color: #FFF;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.pink button:focus {
    outline: none;
}

.pink button::-moz-focus-inner {
    border: 0;
}


/*-end-PINK section*/


/*NEED section*/

.need {
    background: #FFF;
    color: #3a4d60;
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 400;
    height: auto;
}

.need .need_right {
    max-width: 647px;
    box-sizing: border-box;
    text-align: justify;
    padding: 0;
    margin: 116px 20px 138px 60px;
}

.need h5 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.need p {
    text-align: justify;
    padding-bottom: 30px;
}

.need span {
    font-size: 15px;
}

.need .need_left {
    background: url('../img/need_hand.jpg') 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}


/*-end-NEED section*/


/*BASE section*/

.base {
    background: url('../img/base_bg.jpg') 50% no-repeat;
    background-size: cover;
    font-family: 'Open Sans';
    color: #FFF;
    font-weight: 400;
}

.base .row {
    margin: 0;
}

.base .base_bg_2 {
    opacity: 0.8;
    background-color: #521a66;
    max-width: 1600px;
    box-sizing: border-box;
    margin: 94px 0 0;
    padding: 94px 20px 116px;
}

.base h2 {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    padding: 20px;
}

.base p {
    max-width: 762px;
    color: #a87bb7;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
}

.base span {
    font-size: 12px;
}


/*-end-BASE section*/


/*POST section*/

.post {
    background: url('../img/post_bg.jpg') 50% no-repeat;
    background-size: cover;
    color: #FFF;
    font-family: 'Open Sans';
    padding: 340px 0 90px;
    box-sizing: border-box;
}

.post .post_left {
    margin-left: 74px;
}

.post span {
    font-size: 13px;
    font-weight: 600;
    border: 2px solid #FFF;
    border-radius: 50px;
    padding: 6px 24px 8px;
    margin: 0 0 0 74px;
    box-sizing: border-box;
}

.post h1 {
    /* Text style for "Lorem ipsu" */
    max-width: 534px;
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 0 74px;
    padding: 28px 0 20px;
    box-sizing: border-box;
}

.post .author {
    display: flex;
    align-items: center;
    margin-left: 74px;
}

.post .img {
    padding: 0;
    margin: 0;
}

.post p {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding-left: 15px;
}


/*-end-POST section*/


/* DEEN section*/

.deen {
    color: #3a4d60;
    background: #FFF;
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 400;
    height: auto;
}

.deen .deen_left {
    max-width: 647px;
    box-sizing: border-box;
    text-align: justify;
    padding: 0;
    margin: 116px 20px 138px 74px;
}

.deen h5 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.deen p {
    text-align: justify;
    padding-bottom: 30px;
}

.deen span {
    font-size: 15px;
}

.deen .deen_right {
    background: url('../img/deen_hand.jpg') 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}


/*-end-DEEN section*/


/*FOOTER*/

footer {
    background: #2e3b4e;
}

footer .f_text {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    max-width: 390px;
    margin: 116px 20px 138px 74px;
    box-sizing: border-box;
}

footer span {
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

footer span:hover {
    padding-left: 10px;
    border-left: 13px #FFF solid;
    transition: all 0.3s ease-in-out;
}

footer a {
    text-decoration: underline;
    color: #FFF;
}


/*-end-FOOTER*/

@media all and (max-width: 768px) {
    nav {
        display: none;
        padding-left: 0;
    }
    nav .hamburger {
        display: block;
    }
}

@media all and (min-width: 768px) {
    header .hamburger {
        display: none;
    }
}
