@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open_sans/light/opensans-300-normal.woff2') format('woff2'), url('../fonts/open_sans/light/opensans-300-normal.woff') format('woff'), url('../fonts/open_sans/light/opensans-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open_sans/light/opensans-400-normal.woff2') format('woff2'), url('../fonts/open_sans/light/opensans-400-normal.woff') format('woff'), url('../fonts/open_sans/light/opensans-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open_sans/light/opensans-600-normal.woff2') format('woff2'), url('../fonts/open_sans/light/opensans-600-normal.woff') format('woff'), url('../fonts/open_sans/light/opensans-600-normal.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open_sans/light/opensans-700-normal.woff2') format('woff2'), url('../fonts/open_sans/light/opensans-700-normal.woff') format('woff'), url('../fonts/open_sans/light/opensans-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Linux Libertine Slanted';
    src: url('../fonts/linux_libertine_slanted/linlibslanted-600-normal.woff2') format('woff2'), url('../fonts/linux_libertine_slanted/linlibslanted-600-normal.woff') format('woff'), url('../fonts/linux_libertine_slanted/linlibslanted-600-normal.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background: #fff;
    margin: 0;
    padding: 0;
    min-height: 100%;
		max-width: 1600px;
		margin: 0 auto;
}
.top{
	background: url('../img/top_bg.jpg') no-repeat;
	background-size: contain;
	height: 800px;  /*временно*/
}
header {
    box-sizing: border-box;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
		padding:0 35px;
		box-sizing: border-box;
		border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

header a{
	text-decoration: none;
}

/*logo block*/
.logo_block{
	align-self: center;
	margin-right: 10%;
}
.logo_block a{
	display: inline-block;
}
.logo_block .logo{
	padding-top: 10px;
}
.logo_block .logo img{
	width:44px;
	height:24px;
}
.logo_block a p{
	font-family: 'Linux Libertine Slanted';
	font-size: 11px;
	word-spacing: -0.5px;
	letter-spacing: -0.5px;
	white-space: nowrap;
	text-align: center;
	color: #EBEBEB;
	line-height: normal;
}
/* end logo block*/

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    padding: 45px 25px;
    transition: all 0.5s ease-in-out;
    border-bottom: 3px rgba(255, 255, 255, 0) solid;
}
nav ul li:hover {
    border-bottom: 3px #FFF solid;
    transition: all 0.5s ease-in-out;
}
nav ul a {
    color: #FFF;
    /*font-family: 'Open Sans';*/
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}
.nav_search {
    position: relative;
		width: 220px;
}
.nav_search input {
    border: none;
}
.nav_search .search {
    width: 100%;
		height: 44px;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background: #E8E8E8;
    color: #3a4d60;
    outline: none;
    transition: all 0.5s ease-in-out;
    padding: 8px 37px 9px 15px;
}
.nav_search .search:focus {
    background: #FFF;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
.nav_search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
		height: 100%;
 		cursor: pointer;
		color: black;
		background: url('../img/icons/search_3.png') 50% no-repeat;
		outline: none;
		opacity: 0.5;
}
.nav_search .submit:hover{
	opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
  -webkit-appearance: none;
}
/*.nav_search .submit svg{
	width: 4px;
	height: 4px;
}*/
