@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), url("../fonts/raleway/ralewayregular.woff2") format('woff2'), url("../fonts/raleway/ralewayregular.woff") format('woff'), url("../fonts/raleway/ralewayregular.ttf") format('ttf');
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

.nopadding {
	padding: 0;
	margin: 0;
}


/*section about*/

.about {
	margin-bottom: 95px;
}

.slogan {
	text-align: center;
}

.slogan h2 {
	display: inline-block;
	color: #343838;
	font-family: 'Raleway';
	font-size: 27px;
	font-weight: 400;
	line-height: 22px;
	padding: 0 15px;
	margin-bottom: 75px;
}

.about .about_text {
	padding-top: 65px;
	padding-left: 40px;
	padding-right: 95px;
}

.about h3 {
	color: #00b4cc;
	font-family: 'Raleway';
	font-size: 23px;
	font-weight: 700;
	line-height: 22px;
}

.about p {
	color: #afafaf;
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}

.about .border_row {
	border-top: 1px solid #ddd;
	border-bottom: 4px solid #3fc6d8;
}


/*section skills*/

.skills .title {
	text-align: center;
}

.title h2 {
	display: block;
	color: #343838;
	font-family: 'Raleway';
	font-size: 27px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-bottom: 38px;
}

.title p {
	display: inline-block;
	max-width: 566px;
	color: #afafaf;
	font-family: 'Raleway';
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 53px;
}

.skills {
	margin-bottom: 134px;
}

.skills .skills_bar {
	display: inline-block;
	/*why not*/
	height: 54px;
	width: 445px;
	background-color: #FFF;
	color: #00b4cc;
	border: 4px solid #00b4cc;
	box-shadow: none;
	margin: 0 35px 26px;
}

.progress-bar {
	background: #00b4cc;
	text-align: left;
	position: relative;
}

.skills p {
	position: absolute;
	color: white;
	font-family: 'Raleway';
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	padding-left: 23px;
	padding-top: 12px;
	text-align: left;
}

.skills span {
	/*	display: inline-block;*/
	height: 18px;
	color: #343838;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
}


/*section our team*/

.our_team .title {
	text-align: center;
}

.our_team h1 {
	display: block;
	color: #00b4cc;
	font-family: 'Raleway';
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	margin-bottom: 32px;
}

.our_team p {
	display: inline-block;
	max-width: 473px;
	color: #838383;
	font-family: 'Raleway';
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 45px;
}

.our_team .team {
	width: 251px;
	height: 375px;
	margin: 0 40px 70px 0;
	padding: 0;
}

.our_team .team_item-1 {
	background: url("../img/About/team_1.jpg") no-repeat;
}

.our_team .team_item-2 {
	background: url("../img/About/team_1.jpg") no-repeat;
}

.our_team .team_item-3 {
	background: url("../img/About/team_1.jpg") no-repeat;
}

.our_team .team_item-4 {
	background: url("../img/About/team_1.jpg") no-repeat;
}

.our_team .team p{
	width: 100%;
	height: 119px;
	
	display:block;
	background: #00b4cc;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 400;
	line-height: 25px;
	color: white;
	font-size: 20px;
	padding-top: 38px;
}

.team span {
	color: #b5dfe4;
	font-size: 15px;
}