.about-block__photo {
  padding-bottom: 2em;
}
.about-block__info_title {
    font-size: 2.4em;
    line-height: 1;
    padding-bottom: 0.4em;
}
.portfolio-gallery_photo {
    width: auto;
    height: 9em;
}
.portfolio__title {
    font-size: 3em;
}
.contact-items__social {
    margin: 0;
}
.contact-items__social_btn {
  margin: 1em;
}
