html {
    font-size: 10px;
    position: relative;
}

.body {
    position: relative;
    max-width: 192rem;
    height: 100%;
    font-family: "Proxima Nova Bold";
    font-size: 1.5rem;
    margin: 0 auto;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.49);
}


/*top begin*/

.top {
    background: url('../img/top-bg.jpg') 50% 100% no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*height: 1042px;*/
    margin-bottom: 9rem;
}

.header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    line-height: 1.8;
    text-transform: uppercase;
}

.header__menu {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--title {
    opacity: 0.5;
    color: #fff;
    line-height: 1.8;
    text-transform: uppercase;
    margin: 0 1.2rem;
    transition: all .2s ease-in-out;
}

.header__menu-btn {
    width: 3.2rem;
    height: 2.5rem;
    background: rgba(0, 0, 0, 0);
    margin-left: 2.7rem;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 1.1rem;
}

.header-nav {
    display: inline-flex;
    align-items: center;
    margin-left: 29rem;
}

.header-nav-logo {
    color: #fff;
    font-size: 36px;
}

.header-nav-logo::before {
    content: ' ';
    display: block;
    width: 6.4rem;
    height: .4rem;
    background: #bea67c;
    position: relative;
    top: 3.4rem;
    margin-left: 4.5rem;
}

.header-nav__items {
    display: inline-flex;
    list-style: none;
    padding-left: 3.2rem;
}

.header-nav__items-top {
    opacity: .5;
    cursor: pointer;
    padding: 0;
    margin: 0 5.5rem;
    transition: all .2s ease-in-out;
}

.header *:hover, .header *:focus {
    opacity: 1;
}

.header-etc {
    display: inline-flex;
    align-items: center;
    opacity: .5;
}

.header-etc__info-btn {
    min-width: 2.3rem;
    height: 2.3rem;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border: .1rem solid #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 4.9rem;
    transition: all .2s ease-in-out;
}

.header-etc__lang-toggle-btn {
    text-transform: uppercase;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 3.1rem;
    transition: all .2s ease-in-out;
}


/*анимировать кнопки онезависимо друг от друга*/


/*header end*/

.wooder-container {
    width: 62.5%;
    max-width: 120rem;
    margin: 0 auto;
}

.wooder-container__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.top-aside-nav {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.top-aside-nav__page-number {
    display: flex;
    align-items: center;
    color: #bea67c;
    font-size: 5.5rem;
    line-height: 1.1;
    text-transform: uppercase;
    margin-right: 4.5rem;
    transform: rotate(90deg);
}

.top-aside-nav__page-number::before {
    content: ' ';
    display: block;
    width: 5.1rem;
    height: .4rem;
    background: #c0af91;
    margin-right: 1.8rem;
}

.top-aside-nav__page-dots {
    list-style: none;
    z-index: 2;
    margin-top: 10.7rem;
}

.top-aside-nav__page-dots-item {
    cursor: pointer;
    margin-bottom: 2.4rem;
}

.top-aside-nav__page-dots-item-a {
    color: #303030;
    font-size: 2.2rem;
    padding: 0 2rem;
    transition: all .2s ease-in-out;
}

.top-aside-nav__page-dots-item-a:hover, .top-aside-nav__page-dots-item-a:focus {
    color: #bea67c;
}

.top-main {
    display: flex;
    flex-direction: column;
}

.top-main__logo {
    color: #bea67c;
    font-size: 10rem;
    margin-bottom: 6.1rem;
}

.wooder-btn {
    font-family: "Proxima Nova Bold";
    width: 30.6rem;
    height: 5.8rem;
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    box-sizing: border-box;
    text-transform: uppercase;
}

.wooder-btn--brown {
    color: #bea67c;
}

.top-main__btn {
    margin-bottom: 6.8rem;
}

.top-main__scroll {
    display: flex;
    flex-direction: column;
}

.top-main__scroll-img-mouse {
    width: 4rem;
    height: 4rem;
    margin-bottom: 2.3rem;
}

.top-main__scroll-img-arrow--down {
    width: 3.9rem;
    height: 10rem;
    margin-bottom: .3rem;
}

.top-main__scroll-mark {
    width: 1rem;
    height: 4rem;
    opacity: 0.1;
    line-height: 1;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    transform: rotate(90deg);
    margin-bottom: 13rem;
}

.top-aside-etc {}

.top-aside-etc__title-mark {
    width: 10px;
    height: 57px;
    opacity: 0.2;
    color: #a9946e;
    font-size: 24px;
    text-transform: uppercase;
}

.top-aside-etc__title-line {
    width: .4rem;
    height: 5.1rem;
    background-color: #bea67c;
}

.top-aside-etc__share-btn {
    width: 3.2rem;
    height: 3.2rem;
    background: url('../img/share.svg') no-repeat;
    opacity: 0.5;
    border: none;
}

.wooder-symbol {
    position: absolute;
    /*возможно заменить на статичную картинку в фоне*/
    color: #a9946e;
    font-size: 396px;
    line-height: 1.1;
    text-transform: uppercase;
}

.top-aside-etc__symbol--w {
    opacity: 0.04;
    right: 0;
    top: 10%;
}


/*top end*/


/*middle block begin*/

.middle-block {
    background: #fff;
    padding-bottom: 15rem;
}

.wooder-container__middle-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.middle-block-furniture {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28.1rem;
}

.middle-block-furniture__symbol--f {
    opacity: 0.07;
    color: #bea67c;
    margin-top: -33.8rem;
}

.wooder-h2 {
    color: #010101;
    font-family: "Proxima Nova Bold";
    font-size: 4.8rem;
    line-height: 1.6;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 0rem;
}

.middle-block-furniture__text-h2::before {
    content: ' ';
    display: block;
    position: relative;
    top: 3.6rem;
    width: 15.1rem;
    height: .1rem;
    background: #000;
    margin-left: -18.2rem;
}

.middle-block-text {
    align-self: center;
    max-width: 34.1rem;
    font-family: 'Proxima Nova';
    line-height: 1.6;
    text-align: justify;
}

.middle-block-furniture__text {
    padding: 0 0 0 18.2rem;
    margin: 0 4.8rem 0 0;
}

.wooder-p--gray {
    color: #464646;
}

.wooder-p {
    margin: 0 0 1.8rem;
}

.middle-block-furniture__wrapper-text::before {
    content: ' ';
    display: block;
    position: relative;
    top: 1.3rem;
    width: 4.4rem;
    height: .4rem;
    background-color: #bea67c;
    margin-left: -7.4rem;
}

.furniture-img {
    background: url('../img/furniture__img.jpg') no-repeat;
}

.wooder__mark {
    position: absolute;
    opacity: 0.2;
    color: #d0d0d0;
    font-size: 16.9rem;
    text-transform: uppercase;
}

.middle-block__img {
    width: 61.6rem;
    height: 39.7rem;
    box-shadow: 0 .4rem .5rem 0 rgba(0, 0, 0, 0.14), 0 .1rem 1rem 0 rgba(0, 0, 0, 0.12), 0 .2rem .4rem -0.1rem rgba(0, 0, 0, 0.3);
}

.middle-block__page-number {
    position: absolute;
    align-self: flex-end;
    /*при конфликте вынести в .furniture-page-number*/
    font-size: 36px;
    letter-spacing: 0.3rem;
    color: #bea67c;
    text-transform: uppercase;
}

.page-number--black {
    color: #000;
}

.middle-block__page-number::after {
    /*.furniture-page-number {*/
    content: ' ';
    display: block;
    position: absolute;
    top: 13.4rem;
    left: 40%;
    width: .4rem;
    height: 5.1rem;
    background: #a9946a;
}


/*button+animation begin*/

.middle-block-btn {
    position: relative;
    z-index: 2;
    width: auto;
    height: 3rem;
    color: #000;
    border: none;
    cursor: pointer;
    /*border-bottom: 0.2rem solid rgba(0, 0, 0, 0);*/
    padding: 0 0 0.5rem;
    transition: all 0.1s ease-in-out;
}

.middle-block-btn::after {
    position: absolute;
    content: "";
    width: 3.4rem;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: #a9946e;
    transition: all .3s ease-in-out;
}

.middle-block-btn:hover::after {
    width: 100%;
    outline: none;
}

.middle-block-btn:focus::after {
    outline-color: #bea67c;
}


/*button+animation end*/

.middle-block-furniture__mark {
    right: 0;
    align-self: center;
}

.middle-block-decor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22.7rem;
}

.decor-img {
    background: url('../img/decor__img.jpg') no-repeat;
}

.middle-block-decor__symbol--d {
    opacity: 0.07;
    color: #bea67c;
    right: 15%;
    margin-top: -30rem;
}

.middle-block-decor__text {
    padding: 0 18.2rem 0 0;
    margin: 0 0 0 4.8rem;
    /*12.2rem*/
    text-align: right;
}

.middle-block-decor__text-h2 {
    position: relative;
}

.middle-block-decor__text-h2::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 3.6rem;
    right: 0;
    width: 15.1rem;
    height: .1rem;
    background: #000;
    margin-right: -18.2rem;
}

.middle-block-decor__wrapper-text {
    position: relative;
    max-width: 30rem;
}

.middle-block-decor__wrapper-text::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 1rem;
    right: 0;
    width: 4.4rem;
    height: .4rem;
    background-color: #bea67c;
    margin-right: -7.4rem;
}

.middle-block-decor__mark {
    align-self: center;
    left: 0;
}

.decor-page-number {
    right: 18.75%;
}


/*middle-block-video begin*/

.middle-block-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-block-video-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: .2rem;
}

.middle-block-video-title__h2 {
    margin-bottom: 2.3rem;
}

.middle-block-video-title__h2::after {
    content: ' ';
    display: block;
    width: 4.4rem;
    height: .4rem;
    background: #bea67c;
    margin: .5rem auto 0;
}

.wooder-p--light-gray {
    font-family: 'Proxima Nova';
    max-width: 54.5rem;
    text-align: center;
    color: #636262;
    letter-spacing: normal;
    line-height: 1.66;
}

.middle-block-video-items {
    display: flex;
    justify-content: center;
}
.middle-block-video-items__item{
  margin: 0 7.55%;
  position: relative;
}
.video-img-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-item__bg{
  border-radius: 50%;
  box-shadow: 0 .4rem .5rem 0 rgba(0, 0, 0, 0.14), 0 .1rem 1rem 0 rgba(0, 0, 0, 0.12), 0 .2rem .4rem -0.1rem rgba(0, 0, 0, 0.3);
  align-content: #A5A5A5;
}
.video__inspiration{
    margin-top: 5.8rem;
  text-align: center;
}
 .video-item__play-btn{
   position: absolute;
   border: none;
   width: 6.8rem;
   height: 6.8rem;
   opacity: .8;
   cursor: pointer;
   border-radius: 50%;
   background: #fff;
   padding: 0;
 }

 .video-item__play-img{
   width: 6.8rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                            jj
   height: 6.8rem;
 }
/*middle-block-video end*/
/*middle block end*/

/*video-block begin*/
.video-block{
  background: url('../img/video-block-bg.jpg')50% no-repeat;
  background-size: cover;
  padding:9.77% 9.4%
}
.video-block__symbol{
  position: absolute;
  right: 15%;
  margin-top: -35rem;
}
.wooder-h2--brown{
  max-width: 50.6rem;
  color: #bea67c;
  line-height: 1.25;
  margin-bottom: 3rem;
  border:none;
}
.wooder-h2--brown::before{
  content: ' ';
  display: block;
  position: relative;
  top: 3rem;
  width: 15.1rem;
  height: .1rem;
  background: #fff;
  margin-left: -18.2rem;
}
.wooder-p--white{
  max-width: 40rem;
  text-align: left;
  color: #fff;
  font-family: "Proxima Nova";
  line-height: 1.6;
  margin-bottom: 4.4rem;
}
.wooder-p--white::before{
  content: ' ';
  display: block;
  position: relative;
  top: 1.3rem;
  width: 4.4rem;
  height: .4rem;
  background-color: #bea67c;
  margin-left: -7.4rem;
}
.video-block__btn{
  line-height: normal;
  position: relative;
}
.video-block__btn-text::before{
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  background: url(../img/video-block__play-icon.svg)no-repeat;
  background-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  padding-right: 1.4rem;
}
/*.video-block__inner{p
width: 81.2%;
height: 80.45%;
border:0.1rem solid #bea67c;
/*padding:9.77% 9.4%;*/

/*video-block end*/
/*/////////////*/
